{% extends '::basenosidebar.html.twig' %}
{%block illness%} class="active" {% endblock %}
{% block body -%}
        <div class="">
            <div class="page-title">
                <div class="title">
                    <h3>&nbsp;ILLNESS</h3>
                </div>
            </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h3>Illness Information</h3>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <center>
                                        <h3 style="font-size: 50px;"><b>{{ entity.illnessName }}<b></h3>       
                                        <h3 style="font-size: 20px; font-family: Century Gothic;"><i class ="fa fa-quote-left"></i>&emsp; <b><i>{{entity.illnessCommonName}}</i></b> &emsp;<i class ="fa fa-quote-right"></i></h3>
                                        <h4 style="font-family: Century Gothic; font-size: 16px"><i class ="fa fa-file-text"></i>&emsp;<b>Illness Definition:</b> {{entity.illnessDefinition}}</h4>
                                        <h4 style="font-family: Century Gothic; font-size: 16px"><i class ="fa fa-clipboard"></i>&emsp;<b>Illness Description:</b> {{entity.illnessDescription}}</h4>
                                        <h4 style="font-family: Century Gothic; font-size: 16px"><i class ="fa fa-exclamation-triangle"></i>&emsp;<b>Symptoms:</b> {{entity.symptoms}}</h4>
                                        
                                        <h3></h3>
                                        <h3><i class="fa fa-medkit"></i><b>&emsp;MEDICATIONS</b></h3>
                                        <h4 style="font-family: Century Gothic; font-size: 16px"> <i class ="fa fa-chevron-circle-right"></i>&emsp; <b>Home Remedies:</b> {{entity.homeRemedies}}</h4>
                                        <h4 style="font-family: Century Gothic; font-size: 16px"> <i class ="fa fa-chevron-circle-right"></i>&emsp; <b>Commonly Prescribed Drugs:</b> {{entity.commonlyPrescribedDrugs}}</h4>
                                        <br/>
                                    {% if app.user %}
                                        <a href="{{path('illness_edit',{'id':entity.id})}}"><button class="btn btn-primary">Edit Information</button></a>
                                    {% endif %}
                                    </center>
                                </div>
                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        
{% endblock %}
