{% extends '::basenosidebar.html.twig' %}
{% block title %} {% endblock %}
{% block clinic %} class="active" {% endblock %}
{% block body %}
    <div class="">
            <div class="page-title">
                <div class="title">
                    <h3>&nbsp;CLINIC</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <center>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% if app.user%}
                    <a href="{{path('clinic_new')}}">
                        <button class="btn btn-success right" style="margin-bottom: 5px;"><i class="fa fa-plus"></i> Add New Clinic</button>
                    </a>
                    {% endif %}
                    <div class="x_panel">
                        <br/>
                        {% set clinicname = randomclinic1.clinicName %}
                        {% set clinicadd = randomclinic1.clinicAddress %}
                        
                        {% set clinicname1 = randomclinic2.clinicName %}
                        {% set clinicadd1 = randomclinic2.clinicAddress %}
                        
                        {% set clinicname2 = randomclinic3.clinicName %}
                        {% set clinicadd2 = randomclinic3.clinicAddress %}
                            
                            
                            
                                <div class="col-md-4 col-sm-4 col-xs-12 profile">
                                        <div class="profile_img">
                                            <!-- end of image cropping -->
                                            <div id="crop-avatar">
                                                <!-- Current avatar -->
                                                <div class="avatar-view" title="Change the avatar">
                                                    <img src="{{asset('gentelella/images/picture.jpg')}}" alt="Avatar">
                                                </div>
                                            </div>
                                            <!-- end of image cropping -->
                                        </div>
                                        <h3><a href="{{path('clinic_show', {'id': randomclinic1.id})}}">{{clinicname}}</a></h3>

                                        <ul class="list-unstyled user_data">
                                            <li><i class="fa fa-map-marker user-profile-icon"></i> {{clinicadd}}
                                            </li>

                                        </ul>
                                        
                                     </div>
                                
                                                
                                <div class="col-md-4 col-sm-4 col-xs-12 profile">
                                    
                                        <div class="profile_img">
                                            <!-- end of image cropping -->
                                            <div id="crop-avatar">
                                                <!-- Current avatar -->
                                                <div class="avatar-view" title="Change the avatar">
                                                    <img src="{{asset('gentelella/images/picture.jpg')}}" alt="Avatar">
                                                </div>
                                            </div>
                                            <!-- end of image cropping -->
                                        </div>
                                        <h3><a href="{{path('clinic_show', {'id': randomclinic2.id})}}">{{clinicname1}}</a></h3>

                                        <ul class="list-unstyled user_data">
                                            <li><i class="fa fa-map-marker user-profile-icon"></i> {{clinicadd1}}
                                            </li>
                                        </ul>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-12 profile">
                                    
                                        <div class="profile_img">
                                            <!-- end of image cropping -->
                                            <div id="crop-avatar">
                                                <!-- Current avatar -->
                                                <div class="avatar-view" title="Change the avatar">
                                                    <img src="{{asset('gentelella/images/picture.jpg')}}" alt="Avatar">
                                                </div>
                                            </div>
                                            <!-- end of image cropping -->
                                        </div>
                                        <h3><a href="{{path('clinic_show', {'id': randomclinic3.id})}}">{{clinicname2}}</a></h3>

                                        <ul class="list-unstyled user_data">
                                            <li><i class="fa fa-map-marker user-profile-icon"></i> {{clinicadd2}}
                                            </li>
                                        </ul>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                  </center>
            
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">  
                    <center>
                    <div class="x_panel">
                        <h3>CLINICS</h3>
                        <div style="overflow-y: scroll; height:300px;">
                        <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Clinic Name</th>
                                                <th>Address</th>
                                                <th>Doctors</th>
                                                <th>View Profile</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for entity in entities %}
                                                <tr>
                                                    <td>{{entity.clinicName}}</td>
                                                    <td>{{entity.clinicAddress}}</td>
                                                    <td>
                                                    {% for doctor in entity.getDoctors %}
                                                    
                                                        <a style="font-family: Century Gothic; color:#379DFF; font-size: 15px" href="{{path('doctor_show', {'id': doctor.id})}}">
                                                        {{doctor.firstName}} {{doctor.middleName}} {{doctor.lastName}}</a>
                                                        <br/>
                                                    
                                                    {% endfor %}
                                                    </td>
                                                    <td><a href="{{path('clinic_show', {'id': entity.id})}}"><button class="btn btn-primary btn-xs">View Clinic Profile</button></a></td>
                                                </tr>
                                            {% endfor %}
                                            
                                        </tbody>
                        </table>
                    </div>
                    </div>
                   </center>
                </div>
            </div>
        </div>

{% endblock %}