{% extends '::basenosidebar.html.twig' %}
{% block title %} {% endblock %}
{%block doctor%} class="active" {% endblock %}

{% block body %}
    {% if not app.user %}    
    <div class="">
            <div class="page-title">
                <div class="title">
                    <h3>&nbsp;DOCTOR</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" >
                        <br/>
                 
                    {% set firstname1 = randomdoc1.firstName %}
            {% set lastname1 = randomdoc1.lastName %}
            {% set fop1 = randomdoc1.fieldOfPractice %}
            {% set firstname2 = randomdoc2.firstName %}
            {% set lastname2 = randomdoc2.lastName %}
            {% set fop2 = randomdoc2.fieldOfPractice %}
            {% set firstname3 = randomdoc3.firstName %}
            {% set lastname3 = randomdoc3.lastName %}
            {% set fop3 = randomdoc3.fieldOfPractice %}
                
            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                    <div class="left col-xs-7">
                                        <i><h3><b>{{firstname1}} {{lastname1}}</b></h3></i>
                                        
                                        {% if fop1 == "General"%}
                                             <h4>{{fop1}}</h4>
                                        {% elseif fop1 == "Specialized" %}
                                            <h4>{{fop1}}</h4>
                                            {% for specialty in randomdoc1.specialties | slice(0,1)%}
                                            <button class="btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="{{specialty.specialtyName}}">See Specialties</button>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        
                                        <br/>
                                        {% if randomdoc1.getWebPath == null%}
                                        <img src="{{asset('gentelella/images/img.jpg')}}" alt="" class="img-circle img-responsive">
                                        <br/>
                                        <a href="{{path('doctor_show', {'id': randomdoc1.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                        {% else %}
                                            <img style="margin-bottom: 17px;" src="{{asset(randomdoc1.getWebPath)}}"alt="" class="img-circle img-responsive">
                                            <a href="{{path('doctor_show', {'id': randomdoc1.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                        {% endif %}
                                        <br/>
                                        
                                    </div>
                            </div>
                            <div class="col-xs-12 bottom text-center right">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                    <div class="left col-xs-7">
                                        <i><h3><b>{{firstname2}} {{lastname2}}</b></h3></i>
                                        
                                        {% if fop2 == "General"%}
                                             <h4>{{fop2}}</h4>
                                        {% elseif fop2 == "Specialized" %}
                                            <h4>{{fop2}}</h4>
                                            {% for specialty in randomdoc2.specialties | slice(0,1)%}
                                                <button class="btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="{{specialty.specialtyName}}">See Specialties</button>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        
                                        <br/>
                                        {% if randomdoc2.getWebPath == null%}
                                        <img src="{{asset('gentelella/images/img.jpg')}}" alt="" class="img-circle img-responsive">
                                        <br/>
                                        <a href="{{path('doctor_show', {'id': randomdoc2.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                        {% else %}
                                            <img style="margin-bottom: 17px;" src="{{asset(randomdoc2.getWebPath)}}"alt="" class="img-circle img-responsive">
                                             <a href="{{path('doctor_show', {'id': randomdoc2.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                        {% endif %}
                                        <br/>
                                        
                                    </div>
                            </div>
                            <div class="col-xs-12 bottom text-center right">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                    <div class="left col-xs-7">
                                        <i><h3><b>{{firstname3}} {{lastname3}}</b></h3></i>
                                        
                                        {% if fop3 == "General"%}
                                            <h4>{{fop3}}</h4>
                                        {% elseif fop3 == "Specialized" %}
                                            <h4>{{fop3}}</h4>
                                            {% for specialty in randomdoc3.specialties | slice(0, 1) %}              
                                            <button class="btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="{{specialty.specialtyName}}">See Specialties</button>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        
                                        <br/>
                                        {% if randomdoc3.getWebPath == null%}
                                        <img src="{{asset('gentelella/images/img.jpg')}}" alt="" class="img-circle img-responsive">
                                        <br/>
                                        <a href="{{path('doctor_show', {'id': randomdoc3.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                               <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                            <br/>
                                        {% else %}
                                            <img style="margin-bottom: 17px;" src="{{asset(randomdoc3.getWebPath)}}"alt="" class="img-circle img-responsive">
                                             <a href="{{path('doctor_show', {'id': randomdoc3.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                               <i class="fa fa-user"></i> View Profile </button></a>
                                        {% endif %}
                                        
                                        
                                            
                                    </div>
                            </div>
                            <div class="col-xs-12 bottom text-center right">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
                
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="x_panel" >
                        <center><h3 style ="font-size: 25px;">SPECIALTIES</h3></center>
                        <div style="overflow-y: scroll; height:400px;">
                        {% for specialty in specialties %}                
                            <a href={{path('searchBySpecialty', {'specialty': specialty.specialtyName})}}><center><h4 style = "font-family: Century Gothic; font-size: 15px;"> <i class="fa fa-dot-circle-o"></i> {{ specialty.specialtyName }} </h4></center></a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            
            
                <div class="col-md-6 col-xs-12">
                    <div class="x_panel" >
                        <center><h3 style="font-size: 25px;">GENERAL DOCTORS</h3></center>
                        <div style="overflow-y: scroll; height:400px;">
                        {% for entity in entities|e %}                
                            {% if entity.fieldOfPractice == "General"%}
                                <center><i class="fa fa-user-md" style="font-size: 20px;"></i></center>  
                                <a href="{{path('doctor_show', {'id': entity.id})}}"><center><h4 style="font-family: Century Gothic; font-size: 16px;"> {{entity.firstName}} {{entity.lastName}}</h4></center></a> 
                                <div class="ln_solid"></div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>    
                
        </div>
     {% else  %}
     <div class="row">
                        <div class="col-md-8">
                            <div class="x_panel">
                                    <h3><b>Appointments Today ({{ "now"|date("m/d/Y", "Asia/Manila") }})</b></h3>
                                <div class="x_content">
                                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                        {% for clinic in clinics %}
                                        <div class="panel">
                                            <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                 <h4 class="panel-title"style="font-family: Century Gothic; font-size: 16px; color:#379DFF;"><b><i class="fa fa-hospital-o"></i>&emsp;{{clinic.clinicName}}</b></h4>
                                            </a>
                                            <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <!-- start project list -->
                                                <table class="table table-striped projects">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Date Created</th>
                                                            <th><center>Appointment Code</center></th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for appointment in appointments %}
                                                            {% if clinic.id == appointment.clinic.id %}
                                                                <tr>
                                                                    <td>
                                                                        <a id="appointment-{{appointment.id}}" class="appointment" data-toggle="modal" data-target="#appointmentmodal" data-backdrop="static" data-keyboard="false">   <b style="color: #379DFF;"><i>{{appointment.firstName}} {{appointment.lastName}}</i></b> </a>                                            
                                                                    </td>
                                                                    <td>
                                                                        {{appointment.dateCreated | date("m/d/Y")}}
                                                                    </td>
                                                                    <td>
                                                                        <center>{{appointment.appointmentCode}}</center>
                                                                    </td>
                                                                    <td>
                                                                        <div id ="statusdiv-{{appointment.id}}">
                                                                            {% if appointment.isAssessed %}
                                                                                <button id ="status-{{appointment.id}}" type="button" class="btn btn-success btn-xs status-btn">
                                                                                    <i id="iconclass" class="fa fa-check"></i>
                                                                                </button>
                                                                            {% else %} 
                                                                                <button id ="status-{{appointment.id}}" type="button" class="btn btn-danger btn-xs status-btn">
                                                                                    <i id="iconclass" class="fa fa-minus"></i>
                                                                                </button>
                                                                            {% endif %}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table> 
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="x_panel">
                                    <h3><b>Group Invitations</b></h3>
                                <div class="x_content">
                                <ul class="list-unstyled msg_list">
                                   {% for inv in invitations %}
                                    <li>
                                          <span>
                                            <a>{{inv.doctorInviter.firstName}} {{inv.doctorInviter.lastName}}</a>invited you to join the group
                                            <a>{{inv.group.groupName}}</a>
                                          </span>
                                          <a>
                                                 <button id="confirm-{{inv.id}}" title="Accept invitation" data-toggle="tooltip" data-placement="right" type="button" class="btn btn-primary btn-xs btn-confirm "> <i class="fa fa-check-circle"></i></button>
                                                 <button id="decline-{{inv.id}}" title="Decline invitation" data-toggle="tooltip" data-placement="right" type="button" class="btn btn-danger btn-xs btn-decline "> <i class="fa fa-times-circle"></i></button>
                                          </a>    
                                        </a>
                                    </li>
                                   {% endfor %}
                                </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                <div id="appointmentmodal" class="modal fade bs-example-modal-sm" align="left" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" >
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                        </button>
                                    <h4 class="modal-title" style="font-family: Century Gothic;" id="myModalLabel">Appointment Details</h4>
                                </div>
                                <div class="modal-body">
                                     <center><img hidden id="loading" src="{{asset('charisma/img/ajax-loaders/ajax-loader-1.gif')}}" ></center>
                                     <div hidden id="results">
                                         <b>Name:</b>
                                         <div id="aname"></div><br>
                                         <b>Contact Number:</b>
                                         <div id="acontact"></div><br>
                                         <b>Email Address:</b>
                                         <div id="aemail"></div><br>
                                         <b>Appointment Code:</b>
                                         <div id="acode"></div><br>
                                         <b>Notes:</b>
                                         <div style="word-wrap: break-word;" id="anote"></div><br>
                                    </div>
                            </div>
                                
                        </div>
                   </div>

<script>    
                                    var confirmBtnId;
                                    $(".btn-confirm").click(function(x) {
                                        x.preventDefault();
                                        confirmBtnId = this.id;
                                        confirmBtnId = confirmBtnId.replace('confirm-', '');
                                         $.ajax({
                                            type: "POST",
                                            url: '{{ path('confirm_invite') }}',
                                            data: {id: confirmBtnId},
                                            dataType: 'json',
                                            success: function(response) {
                                               location.reload();
                                                console.log(response);
                                            },
                                            error: function() {
                                                alert('error');
                                            }
                                        });
                                    });
                                    
                                    var declineBtnId;
                                    $(".btn-decline").click(function(x) {
                                        x.preventDefault();
                                        declineBtnId = this.id;
                                        declineBtnId = declineBtnId.replace('decline-', '');
                                         $.ajax({
                                            type: "POST",
                                            url: '{{ path('decline_invite') }}',
                                            data: {id: declineBtnId},
                                            dataType: 'json',
                                            success: function(response) {
                                               location.reload();
                                                console.log(response);
                                            },
                                            error: function() {
                                                 location.reload();
                                                alert('error');
                                            }
                                        });
                                    });
                                   
                                   var statusBtnId;
                                    $(".status-btn").click(function(x) {
                                        x.preventDefault();
                                        statusBtnId = this.id;
                                        statusBtnId = statusBtnId.replace('status-', '');
                                         $.ajax({
                                            type: "POST",
                                            url: '{{ path('status_change') }}',
                                            data: {id: statusBtnId},
                                            dataType: 'json',
                                            success: function(response) {
                                               
                                                console.log(response);
                                                $('#statusdiv-'+statusBtnId).load(document.URL +  ' #statusdiv-'+statusBtnId);
                                                
                                                
                                            },
                                            error: function() {
                                                
                                                alert(statusBtnId);
                                            }
                                        });
                                    });
                                    
                                     var appointment;
                                    $(".appointment").click(function(x) {
                                        x.preventDefault();
                                        appointment = this.id;
                                        appointment = appointment.replace('appointment-', '');
                                         $.ajax({
                                            type: "POST",
                                            url: '{{ path('appointment_view') }}',
                                            data: {id: appointment},
                                            dataType: 'json',
                                            beforeSend: function(){
                                                $('#loading').show();
                                                 $('#results').hide();
                                                },
                                            complete: function(){
                                                $('#loading').hide();
                                                $('#results').show();
                                                },
                                            success: function(data) {
                                                var len = data.length;
                                                var txt = "";
                                                  if(len > 0){
                                                    for(var i=0;i<len;i++){
                                                           $("#aname").html(data[i].firstName+" "+data[i].lastName);
                                                           $("#acontact").html(data[i].contactNumber);
                                                           $("#aemail").html(data[i].emailAddress);
                                                           $("#acode").html(data[i].appointmentCode);
                                                           $("#anote").html(data[i].note);
                                                           
                                                          }
                                                    
                                                }

                                                
                                                console.log(data);
                                            },error: function() {
                                             alert('error');
                                              }
                                            });
                                        
                                    });

                                   
  </script>
               
{% endif %}
{% endblock %}
