{% extends '::basenosidebar.html.twig' %}
{% block title %} {% endblock %}
{% block doctorgroup %} class="active" {% endblock %}
{% block body %}
    <div class="">
            <div class="page-title">
                <div class="title">
                    <h3>&nbsp;DOCTOR GROUP</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
            <a href="{{path('doctorgroup_new')}}">
                <button class="btn btn-success right" style="margin-bottom: 5px;"><i class="fa fa-plus"></i> Create New Group</button>
            </a>
                        
            
            <div class="x_panel">
            <br/>            
            <form action="{{path('doctorgrouphomepage')}}" method="POST" role="search">
                <div class="col-md-10 col-sm-10 col-xs-12 form-group top_search" style='margin-left: 60px;'>
                    <div class="input-group">
                        
                        <input action="{{path('doctorgrouphomepage')}}" method="POST" role="search" id="searchfield" name="searchfield" type="text" class="form-control" placeholder="Find a doctor group.">
                            <span class="input-group-btn">
                                <button  action="{{path('doctorgrouphomepage')}}" method="POST" role="search" class="btn btn-default" type="submit">Go!</button>
                            </span>
                    </div>
                </div>
            </form>
            <h3></h3>
                            
            {% if searchword == ""%}
                <center><i><h3>Find a doctor group maybe?</h3></i></center>
                <br/>
                {% for entity in entities %}
                <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="item" style="vertical-align: top; display: inline-block; text-align: center; width: 120px;">
                    <span style="display: block;">
                        <a href="{{path('doctorgroup_show', {'id': entity.id})}}">
                            <img src="{{asset('images/homepage/Group.png')}}" alt="Doctor Group">
                            <h3 style="color:#379DFF;"><i class="fa fa-circle"></i><b> &emsp;{{entity.groupName}}</b></h3>
                        </a>
                        {% for admin in entity.getAdminDoctors%}
                            <h4 style="font-family: Century Gothic; font-size: 12px;">Created by: {{admin.firstName}} {{admin.lastName}}</h4>
                        {% endfor %}
                    </span>
                </div>
                </div>
                {% endfor %}
                <br/>
            {%elseif doctorgroups is empty%}
                <center><i><h3>No Doctor Group Found. Find another one.</h3></i></center>
                <br/>
            {%else%}
            {% for doctorgroup in doctorgroups %}
                <center>
                <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="item" style="vertical-align: top; display: inline-block; text-align: center; width: 120px;">
                    <span style="display: block;">
                        <a href="{{path('doctorgroup_show', {'id': doctorgroup.id})}}">
                            <img src="{{asset('images/homepage/Group.png')}}" alt="Doctor Group">
                            <h3 style="color:#379DFF;"><i class="fa fa-circle"></i><b> &emsp;{{doctorgroup.groupName}}</b></h3>
                        </a>
                        {% for admin in doctorgroup.getAdminDoctors%}
                            <h4 style="font-family: Century Gothic; font-size: 12px;">Created by: {{admin.firstName}} {{admin.lastName}}</h4>
                        {% endfor %}
                    </span>
                </div>
                </div>
                </center>
            {% endfor %}
            {% endif %}
            
            </div>
        </div>
    </div>
{% endblock %}