{% extends '::basenosidebar.html.twig' %}
{% block title %} {% endblock %}
{% block illness %} class="active" {% endblock %}
{% block body %}
    <div>
    <div class="page-title">
        <div class="title">
            <h3>&nbsp;ILLNESS</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if app.user%}
                    <a href="{{path('illness_new')}}">
                        <button class="btn btn-success right" style="margin-bottom: 5px;"><i class="fa fa-plus"></i> Define New Illness</button>
                    </a>
                    {% endif %}
            <div class="x_panel">
                <h3>&nbsp;Health Topics</h3>
                <br/>
                <div style="overflow-y: scroll; height:500px;">
                    {% for entity in entities%}
                        <a href='{{path('illness_show', {'id' :entity.id})}}'>
                        <div class='col-md-5 col-sm-5 col-xs-5' style='box-shadow: 4px 4px 2px #888888; border-radius: 5px 25px 10px; background-color: #404040; margin-right: 30px; margin-left: 30px;
                             margin-bottom: 20px;' >
                            <center>
                                <h4 style ='color:#379DFF; font-family: Century Gothic; font-size:20px;'>
                                    {{entity.illnessName}}</h4> 
                                <h4 style ='color: white; font-family:Century Gothic; font-size:15px'>
                                    <i class='fa fa-quote-left'> </i> {{entity.illnessCommonName}} <i class='fa fa-quote-right'> </i></h4>
                            </center>
                        </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
            
    </div>

{% endblock %}