{% extends '::basenosidebar.html.twig' %}
{% block title %} FIMADILO - Welcome! {% endblock %}
{%block home%} class="active" {% endblock %}
{% block pagetitle %} Home {% endblock %}
{% block body %}
<style>
.crop {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.crop img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
</style>    
    

    <br/>
    
    </br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li class="item1 active"></li>
      <li class="item2"></li>
      <li class="item3"></li>
      <li class="item4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <a href="{{path('doctorhomepage')}}">
        <img src="{{asset('images/carousel/Doctor.png')}}" alt="Doctor">
        <div class="carousel-caption" style="color: black;">
              <br/>
              <br/>
              Find the best doctors in Iloilo.
        </div>
        </a>
      </div>

      <div class="item">
        <a href="{{path('clinichomepage')}}">
        <img src="{{asset('images/carousel/Clinic.png')}}" alt="Clinic">
        <div class="carousel-caption" style="color: black;">
              <br/>
              <br/>
              Locate the clinics in Iloilo.
        </div>
        </a>
      </div>
    
      <div class="item">
        <a href="{{path('clinichomepage')}}">
        <img src="{{asset('images/carousel/Illness.png')}}" alt="Illness">
        <div class="carousel-caption" style="color: black;">
              <br/>
              <br/>
              Know more about your illness.
        </div>
        </a>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
        <br/>
        <br/>
        <center>
        <a href="{{path('doctorhomepage')}}"><img src="{{asset('images/homepage/Doctor.png')}}"></a>
        <a href="{{path('clinichomepage')}}"><img src="{{asset('images/homepage/Clinic.png')}}"></a>
        <a href="{{path('illnesshomepage')}}"><img  src="{{asset('images/homepage/Illness.png')}}"></a>
        
        </br>
        </br>
        <div style="height: 325px;">
        <h3></h3>
        <h3 style=" font-size: 16px;"><b><i class="fa fa-user-md"></i>&emsp;DOCTOR</b></h3>
        
        <br/>
        <br/>
                       
            {% set firstname1 = randomdoc1.firstName %}
            {% set lastname1 = randomdoc1.lastName %}
            {% set fop1 = randomdoc1.fieldOfPractice %}
            {% set firstname2 = randomdoc2.firstName %}
            {% set lastname2 = randomdoc2.lastName %}
            {% set fop2 = randomdoc2.fieldOfPractice %}
            {% set firstname3 = randomdoc3.firstName %}
            {% set lastname3 = randomdoc3.lastName %}
            {% set fop3 = randomdoc3.fieldOfPractice %}
                
            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                    <div class="left col-xs-7">
                                        <i><h3><b>{{firstname1}} {{lastname1}}</b></h3></i>
                                        
                                        {% if fop1 == "General"%}
                                             <h4>{{fop1}}</h4>
                                        {% elseif fop1 == "Specialized" %}
                                            <h4>{{fop1}}</h4>
                                            {% for specialty in randomdoc1.specialties | slice(0,1)%}
                                            <button class="btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="{{specialty.specialtyName}}">See Specialties</button>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        
                                        <br/>
                                        {% if randomdoc1.getWebPath == null%}
                                        <div class="crop">
                                        <img src="{{asset('gentelella/images/img.jpg')}}" alt="" class="img-circle img-responsive">
                                        </div>
                                        <br/>
                                        <a href="{{path('doctor_show', {'id': randomdoc1.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                        {% else %}
                                            <div class="crop">
                                            <img style="margin-bottom: 17px;" src="{{asset(randomdoc1.getWebPath)}}"alt="" class="img-circle img-responsive" height="42" width="42">
                                            </div>
                                            <br/>
                                            <a href="{{path('doctor_show', {'id': randomdoc1.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                        {% endif %}
                                        <br/>
                                        
                                    </div>
                            </div>
                            <div class="col-xs-12 bottom text-center right">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                    <div class="left col-xs-7">
                                        <i><h3><b>{{firstname2}} {{lastname2}}</b></h3></i>
                                        
                                        {% if fop2 == "General"%}
                                             <h4>{{fop2}}</h4>
                                        {% elseif fop2 == "Specialized" %}
                                            <h4>{{fop2}}</h4>
                                            {% for specialty in randomdoc2.specialties | slice(0,1)%}
                                                <button class="btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="{{specialty.specialtyName}}">See Specialties</button>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        
                                        <br/>
                                        {% if randomdoc2.getWebPath == null%}
                                        <div class="crop">
                                        <img src="{{asset('gentelella/images/img.jpg')}}" alt="" class="img-circle img-responsive">
                                        </div>
                                        <br/>
                                        <a href="{{path('doctor_show', {'id': randomdoc2.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                        {% else %}
                                            <div class="crop">
                                            <img style="margin-bottom: 17px;" src="{{asset(randomdoc2.getWebPath)}}"alt="" class="img-circle img-responsive" height="42" width="42">
                                            </div>
                                            <br/>
                                            <a href="{{path('doctor_show', {'id': randomdoc2.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                        {% endif %}
                                        <br/>
                                        
                                    </div>
                            </div>
                            <div class="col-xs-12 bottom text-center right">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                    <div class="left col-xs-7">
                                        <i><h3><b>{{firstname3}} {{lastname3}}</b></h3></i>
                                        
                                        {% if fop3 == "General"%}
                                            <h4>{{fop3}}</h4>
                                        {% elseif fop3 == "Specialized" %}
                                            <h4>{{fop3}}</h4>
                                            {% for specialty in randomdoc3.specialties | slice(0, 1) %}              
                                            <button class="btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="{{specialty.specialtyName}}">See Specialties</button>
                                            {% endfor %}
                                        {% endif %}
                                        
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        
                                        <br/>
                                        {% if randomdoc3.getWebPath == null%}
                                        <div class="crop">
                                        <img src="{{asset('gentelella/images/img.jpg')}}" alt="" class="img-circle img-responsive" height="42" width="42">
                                        </div>
                                        <br/>
                                        <a href="{{path('doctor_show', {'id': randomdoc3.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                               <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                            <br/>
                                        {% else %}
                                            <div class="crop">
                                            <img style="margin-bottom: 17px;" src="{{asset(randomdoc3.getWebPath)}}"alt="" class="img-circle img-responsive">
                                            </div>
                                            <br/>
                                            <a href="{{path('doctor_show', {'id': randomdoc3.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                               <i class="fa fa-user"></i> View Profile </button></a>
                                               <br/>
                                        {% endif %}
                                        
                                        
                                            
                                    </div>
                            </div>
                            <div class="col-xs-12 bottom text-center right">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        
        </br>    
            
                
             
            <div style="height: 325px;">
        <h3></h3>
        <h3 style=" font-size: 16px;"><b><i class="fa fa-user-md"></i>&emsp;CLINIC</b></h3>
        
        </br>
                       
            {% set clinicname1 = randomcli1.clinicName %}
            {% set clinicadd1 = randomcli1.clinicAddress %}
            {% set clinicname2 = randomcli2.clinicName %}
            {% set clinicadd2 = randomcli2.clinicAddress %}
            {% set clinicname3 = randomcli3.clinicName %}
            {% set clinicadd3 = randomcli3.clinicAddress %}
                
            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                    <div class="left col-xs-7">
                                        <i><h3><b>{{clinicname1}}</b></h3></i>
                                        
                                        {{clinicadd1}}
                                        
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        
                                        <br/>
                                        {% if randomcli1.getWebPath == null%}
                                        <div class="crop">
                                        <img src="{{asset('gentelella/images/img.jpg')}}" alt="" class="img-circle img-responsive">
                                        </div>
                                        <br/>
                                        <a href="{{path('clinic_show', {'id': randomcli1.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                        {% else %}
                                            <div class="crop">
                                            <img style="margin-bottom: 17px;" src="{{asset(randomcli1.getWebPath)}}"alt="" class="img-circle img-responsive">
                                            </div>
                                            <br/>
                                            <a href="{{path('clinic_show', {'id': randomcli1.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br>
                                        {% endif %}
                                        <br/>
                                        
                                    </div>
                            </div>
                            <div class="col-xs-12 bottom text-center right">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                    <div class="left col-xs-7">
                                        <i><h3><b>{{clinicname2}}</b></h3></i>
                                        {{clinicadd2}}
                                        
                                        
                                        
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        
                                        <br/>
                                        {% if randomcli2.getWebPath == null%}
                                        <div class="crop">
                                        <img src="{{asset('gentelella/images/img.jpg')}}" alt="" class="img-circle img-responsive">
                                        </div>
                                        <br/>
                                        <a href="{{path('clinic_show', {'id': randomcli2.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                        {% else %}
                                            <div class="crop">
                                            <img style="margin-bottom: 17px;" src="{{asset(randomcli2.getWebPath)}}"alt="" class="img-circle img-responsive">
                                            </div>
                                            <br/>
                                            <a href="{{path('clinic_show', {'id': randomcli2.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                            <i class="fa fa-user"></i> View Profile </button></a>
                                            <br>
                                        {% endif %}
                                        <br/>
                                        
                                    </div>
                            </div>
                            <div class="col-xs-12 bottom text-center right">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                        <div class="well profile_view">
                            <div class="col-sm-12">
                                    <div class="left col-xs-7">
                                        <i><h3><b>{{clinicname3}}</b></h3></i>
                                        {{clinicadd3}}
                                       
                                        
                                    </div>
                                    <div class="right col-xs-5 text-center">
                                        
                                        <br/>
                                        {% if randomcli3.getWebPath == null%}
                                        <div class="crop">
                                        <img src="{{asset('gentelella/images/img.jpg')}}" alt="" class="img-circle img-responsive">
                                        </div>
                                        <br/>
                                        <a href="{{path('clinic_show', {'id': randomcli3.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                               <i class="fa fa-user"></i> View Profile </button></a>
                                            <br/>
                                            <br/>
                                        {% else %}
                                            <div class="crop">
                                            <img style="margin-bottom: 17px;" src="{{asset(randomcli3.getWebPath)}}"alt="" class="img-circle img-responsive">
                                            </div>
                                            <br/>
                                            <a href="{{path('clinic_show', {'id': randomcli3.id})}}"><button type="button" class="btn btn-primary btn-xs"> 
                                               <i class="fa fa-user"></i> View Profile </button></a>
                                            <br>
                                        {% endif %}
                                        
                                        
                                            
                                    </div>
                            </div>
                            <div class="col-xs-12 bottom text-center right">
                                <div class="col-xs-12 col-sm-6 emphasis">
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        
        </br>
        
            
        {#<button type="button" class="btn btn-primary btn-lg"><a href="{{ path('clinic_new') }}"></a>Register New Clinic</button>
        <button type="button" class="btn btn-success btn-lg"><a href="{{ path('doctor_group') }}"></a>Register New Group</button>#}
        <br/>
        </center>
        
        <script>
            $(document).ready(function(){
            // Activate Carousel
            $("#myCarousel").carousel();
    
            // Enable Carousel Indicators
            $(".item1").click(function(){
                $("#myCarousel").carousel(0);
            });
            $(".item2").click(function(){
                $("#myCarousel").carousel(1);
            });
            $(".item3").click(function(){
                $("#myCarousel").carousel(2);
            });
    
            // Enable Carousel Controls
            $(".left").click(function(){
                $("#myCarousel").carousel("prev");
            });
            $(".right").click(function(){
                $("#myCarousel").carousel("next");
            });
        });
    </script>
{% endblock %}
