{% extends '::basenosidebar.html.twig' %}
{% block title %} {% endblock %}
{% block settings %} class="active" {% endblock %}
{% block body %}
    <div>
    <div class="page-title">
        <div class="title">
            
        </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2> Settings</h2>
                                    
                                       
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">


                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="true">Change Pasword</a>
                                            </li>
                                            <li role="presentation" class=""><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="false">Remove Account</a>
                                            </li>
                                            <li role="presentation" class=""><a href="{{path("doctor_edit")}}" role="tab">Edit Profile</a>
                                            </li>
                                            
                                        </ul>
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade " id="tab_content1" aria-labelledby="home-tab">
                                                
                                               <button id ="removeaccountmodal" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletedocmodal" data-backdrop="static" data-keyboard="false">
                                                    <i class="glyphicon glyphicon-close"></i> Remove Account</button>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content3" aria-labelledby="profile-tab">
                                                <h3>Change Password</h3>
                                                
                                                    {{ form_start(form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'registerForm', 'class':'form-horizontal form-label-left' } }) }}
                                                    <div id='fn' class="item form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >Old Password <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            {{ form_widget(form.oldPassword, { 'attr' : { 'id': 'firstName', 'name': 'firstName', 'placeholder' : 'Old Password', 'class' : 'form-control col-md-7 col-xs-12', 
                                                                                            'data-validate-length-range' : '1',  'required': 'required', 'type' : 'text' } }) }}
                                                        </div>
                                                    </div>
                                                        <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.oldPassword)}}</div></i>
                                                   
                                                      <div id='pass1' class="item form-group">
                                                        <label for="first" class="control-label col-md-3" >Password <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            {{  form_widget(form.newPassword.first, { 'attr' : { 'type' : 'password', 'placeholder' : 'Password', 'class' : 'form-control col-md-7 col-xs-12', 
                                                                                                    'data-validate-length-range' : '8,15', 'required': 'required'  } }) }}
                                                        </div>
                                                    </div>
                                                        <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.newPassword.first)}}</div></i>
                                                     <div id='pass2' class="item form-group">
                                                        <label for="second" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            {{  form_widget(form.newPassword.second, { 'attr' : {  'id' : 'second' ,'type' : 'password', 'name': 'second', 'placeholder' : 'Repeat Password', 'class' : 'form-control col-md-7 col-xs-12', 
                                                                                                    'data-validate-linked' : 'researchproject_myprojectbundle_doctor_password_first', 'required': 'required' } }) }}
                                                        </div>
                                                    </div>
                                                        <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.newPassword.second)}}</div></i>
                                                        <div class="ln_solid"></div>
                                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                            <a href="">{{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn'} }) }}</a>
                                                            <button type="reset" class="btn btn-dark" onclick="goBack()" >Cancel</button>
                                                        </div>
                                                    </div>
                                                     {{form_end(form)}}
                                               
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
    <div id="deletedocmodal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 style="font-family: Century Gothic; font-size: 16px;"class="modal-title" id="deletegroupmodal">Delete Group</h4>
                                            </div>

                                            <div class="modal-body">
                                                <center><h4 style="font-family: Century Gothic; font-size: 16px;">
                                                        <i class="fa fa-exclamation-triangle" style="color:#ff4d4d; font-size: 30px;"></i>&emsp;Are you sure you want to remove your account?</h4></center>
                                            </div>
                                            
                                            <div class="modal-footer">
                                                    <button type="button" id='con_delete_doc' class="btn btn-primary" >Yes</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                         </div>
    </div>
            
    
<script>
                                     var userId = {{app.user.id}}
                                    $("#con_delete_doc").click(function(x) {
                                        x.preventDefault();
                                        $.ajax({
                                            type: "POST",
                                            url: '{{ path('remove_doctor_click') }}',
                                            data: {id: userId},
                                            dataType: 'json',
                                            success: function(response) {
                                                window.location.href = response;
                                                 
                                            },
                                            error: function() {
                                                alert('error');
                                            }
                                        });
                                    });
    
   </script>
{% endblock %}