{% extends '::basenosidebar.html.twig' %}
{% form_theme edit_form 'ResearchProjectMyProjectBundle:Form:field.html.twig' %}
{%block doctor%} class="active" {% endblock %}

{% block body -%}
    <center><h1><b>Edit Group Post</b></h1></center>
    <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
        <br/>
        {{ form_start(edit_form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'editPost' } }) }}
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Post Title: <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.postTitle, { 'attr' : { 'name': 'postTitle', 'placeholder' : 'Post Title', 'class' : 'form-control col-md-7 col-xs-12', 
                        'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Post Description: <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.postContent, { 'attr' : { 'name': 'description', 'placeholder' : 'Post Content', 'class' : 'form-control col-md-7 col-xs-12', 
                                                     'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                
           
            
            <div class="ln_solid"></div>
            
            <div class ="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a href="{{ path('grouppost_show', {'id': entity.id})}}"> {{ form_widget(edit_form.submit, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn'} }) }}</a>
                    <button class="btn btn-dark" onclick="goBack()">Cancel</button>
                </div>
            </div>
        {{ form_end(edit_form) }}
    </div>
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
    
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    
    <!-- form validation -->
    <script src={{asset('gentelella/js/validator/validator.js')}}></script>
    <script>
        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('#editPost')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('#editPost').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });
    </script>
{% endblock %}
