{% extends '::basenosidebar.html.twig' %}

{% block body -%}
    <h1>GroupPost creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('grouppost') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{# empty Twig template #}
