{% extends '::basenosidebar.html.twig' %}
{% form_theme form 'ResearchProjectMyProjectBundle:Form:field.html.twig' %}
{% block doctorgroup %} class="active" {% endblock %}
{% block pagetitle %}DOCTOR GROUP{% endblock %}

{% block body -%}

    <div class="">
        <div class="page-title">
            <div class="title">
                <h3>&nbsp;DOCTOR GROUP
                <a class="right" href="{{path('doctorgroup_show', {'id' : entity.getGroup.getId})}}"><button class="btn btn-primary">Back to Group</button></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" >
                        <h3>Group Post</h3>
                    <div class="x_content">
                    <h3 style="font-size: 20px;">
                        <b>{{ entity.postTitle }}</b>
                        <br/>
                        <i style="font-size: 11px;">{{ entity.datePosted|date('Y-m-d H:i:s') }}</i>
                    </h3>
                     <div style="word-wrap: break-word;">
                         <h3 style="font-size: 14px;"><i class='fa fa-circle'></i> &emsp; {{ entity.postContent }} </h3>
                     </div>
                    
                    <h3 style='margin-bottom: 3px;'>Comments:</h3><br/>
                    {% for comment in entity.getPostComments %}
                                <div class="alert alert-info" style="margin-bottom: 3px;">
                                    <div style="word-wrap: break-word;"><h4 style="font-family: Century Gothic; font-size: 15px;"><i class="fa fa-circle-o"></i> &emsp;{{comment.getCommentContent}}<br/></div>
                                     &emsp;&emsp;<i style="font-size: 11px;"> <b>{{comment.getCommentAuthor.firstName}} {{comment.getCommentAuthor.lastName}}</b>
                                         ({{comment.dateCommented|date('Y-m-d H:i:s')}})
                                     
                                     </i>
                                 {% if (comment.commentAuthor == app.user) or (entity.getDoctorAuthor == app.user) %} 
                                            <a  id="dlt_comment-{{comment.id}}" title="Remove comment" data-toggle="tooltip" data-placement="left" class="btn btn-danger btn-xs btn-delete-comment right" href="#">
                                                            <i class="glyphicon glyphicon-trash icon-white"></i>

                                            </a>
                                 {% endif%}
                                    </div>
                    {% endfor %}
                    
                    {% for doc in entity1.getDoctors %}
                        {% if app.user == doc%}
                            <button type="button" class="btn btn-info right" data-toggle="modal" data-target="#commentmodal"><i class="glyphicon glyphicon-plus-sign icon-white"></i> Comment</button>
                        {%else%}
                            <div></div>
                        {% endif %}
                    {% endfor %}
                        
                                <div id="commentmodal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                </button>
                                                <h3 class="modal-title" id="myModalLabel">New Comment</h3>
                                            </div>
                                            <div class="modal-body">
                                                {{ form_start(form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'newComment', 'class': 'form-horizontal form-label-left', 'onsubmit':'setTimeout(function () { window.location.reload(); }, 10)' } }) }}
                                                <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-2 left-align" >Content: </label>
                                                    <div class="col-md-7">
                                                        {{ form_widget(form.commentContent, { 'attr' : { 'name': 'commentContent', 'placeholder' : 'Post your comment here', 'class' : 'form-control col-md-5 col-xs-5', 
                                                        'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a href="">{{ form_widget(form.Comment, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn', 'onClick' : 'submitClicked()'} }) }}</a> 
                                                
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

 <div id="delete" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 style="font-family: Century Gothic; font-size: 16px;"class="modal-title" id="deleteModal">Delete Post</h4>
                                            </div>

                                            <div class="modal-body">
                                                <center><h4 style="font-family: Century Gothic; font-size: 16px;">
                                                        <i class="fa fa-exclamation-triangle" style="color:#ff4d4d; font-size: 30px;"></i>&emsp;Are you sure you want to remove this comment?</h4></center>
                                            </div>
                                            
                                            <div class="modal-footer">
                                                    <button type="button" id='con_delete_comment' class="btn btn-primary" >Yes</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                            </div>
                                           </div>
                                        </div>

                                        </div>
   <script src={{asset('gentelella/js/validator/validator.js')}}></script>
    <script>
        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('#newComment')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('#newComment').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });
    </script>

<script>
        function goBack() {
        window.history.back();
        }
    </script>
    <script>
        $('#commentmodal').find('form')[0].reset();
    </script>
    
    <script>
                                    var dltCommentBtnId;
                                    $(".btn-delete-comment").click(function(x) {
                                        x.preventDefault();
                                        dltCommentBtnId = this.id;
                                        dltCommentBtnId = dltCommentBtnId.replace('dlt_comment-', '');
                                        $('#delete').modal();
                                    });
                                    $("#con_delete_comment").click(function(d) {
                                        $.ajax({
                                            type: "POST",
                                            url: '{{ path('comment_delete') }}',
                                            data: {id: dltCommentBtnId},
                                            dataType: 'json',
                                            success: function(response) {
                                                
                                                console.log(response);
                                                 $("#newComment")[0].reset();
                                                window.location.reload(true);
                                               
                                            },
                                            error: function() {
                                                alert('error');
                                                
                                            }
                                        });
                                    });
                                   
                                   
</script>
    
{% endblock %}
