{% extends '::admin.html.twig' %}
{% form_theme edit_form 'ResearchProjectMyProjectBundle:Form:field.html.twig' %}
{% block pagetitle %}DOCTOR{% endblock %}
{%block doctor%} class="active" {% endblock %}
{% block body -%}
<style>
#clinicmap{
    width: 500px;
    height: 400px;
}
.x_content{
    height: fit-content;
}
</style>
<center><h1><b>Edit Clinic Information</b></h1>
  <div id="overlay">
    <div id="progstat"></div>
    <div id="progress"></div>
  </div>
<div class="x_panel">
    <div class="x_content">
        <br />
        <div data-parsley-validate class="form-horizontal form-label-left">
            {{ form_start(edit_form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'editClinicForm' } }) }}
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Clinic Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.clinicName, { 'attr' : { 'name': 'clinicName', 'placeholder' : 'Clinic Name', 'class' : 'form-control col-md-7 col-xs-12', 
                                                     'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.clinicName)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Clinic Description <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.clinicDescription, { 'attr' : { 'name': 'clinicName', 'placeholder' : 'Clinic Name', 'class' : 'form-control col-md-7 col-xs-12', 
                                                         'data-validate-length-range' : '10', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.clinicDescription)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Clinic Address <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.clinicAddress, { 'attr' : { 'name': 'clinicAddress', 'placeholder' : 'Clinic Address', 'class' : 'form-control col-md-7 col-xs-12',
                                                         'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.clinicAddress)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Contact Number<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.contactNumber, { 'attr' : { 'name': 'clinicName', 'placeholder' : 'Contact Number', 'class' : 'form-control col-md-7 col-xs-12', 
                                                     'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <div hidden class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.clinicAddress, { 'attr' : {'placeholder' : 'Clinic Address', 'class' : 'form-control col-md-7 col-xs-12',
                                                         'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                </div>
               <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.contactNumber)}}</div></i>
               <div hidden class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.clinicLong) }}
                </div>
               <div hidden class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.clinicLat) }}
                </div>
                <div id="clinicmap" class ="form-group">  </div> 
                <div hidden id="current">Nothing yet...</div>
                <div class="item form-group">
                <label class="control-label col-md-12 col-sm-12 col-xs-12"><h4><b><center>Clinic Schedule</center></b></h4></label>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Sunday: <span class="required">*</span>
                </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.sunOpenTime)}} 
                 </div>
                 <span class="col-md-2 col-sm-2">up to</span>
                 <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                    {{ form_widget(edit_form.sunCloseTime) }}
                 </div>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   <label>
                       <input id="sunday" type="checkbox" value=""> Closed
                   </label>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Monday: <span class="required">*</span>
                </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.monOpenTime) }}
                 </div>
                 <span class="col-md-2 col-sm-2">up to</span>
                 <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.monCloseTime) }}
                 </div>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   <label>
                       <input id="monday" type="checkbox" value=""> Closed
                   </label>                             
                </div>
            </div>
               <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tuesday: <span class="required">*</span>
                </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.tueOpenTime) }}
                 </div>
                 <span class="col-md-2 col-sm-2">up to</span>
                 <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.tueCloseTime) }}
                 </div>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   <label>
                       <input id="tuesday" type="checkbox" value=""> Closed
                   </label>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Wednesday: <span class="required">*</span>
                </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.wedOpenTime) }}
                 </div>
                 <span class="col-md-2 col-sm-2">up to</span>
                 <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.wedCloseTime) }}
                 </div>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   <label>
                       <input id="wednesday" type="checkbox" value=""> Closed
                   </label>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Thursday: <span class="required">*</span>
                </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.thuOpenTime) }}
                 </div>
                 <span class="col-md-2 col-sm-2">up to</span>
                 <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.thuCloseTime) }}
                 </div>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   <label>
                       <input id="thursday" type="checkbox" value=""> Closed
                   </label>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Friday: <span class="required">*</span>
                </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.friOpenTime) }}
                 </div>
                 <span class="col-md-2 col-sm-2">up to</span>
                 <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.friCloseTime) }}
                 </div>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   <label>
                       <input id="friday" type="checkbox" value=""> Closed
                   </label>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Saturday: <span class="required">*</span>
                </label>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.satOpenTime) }}
                 </div>
                 <span class="col-md-2 col-sm-2">up to</span>
                 <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   {{ form_widget(edit_form.satCloseTime) }}
                 </div>
                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                   <label>
                       <input id="saturday" type="checkbox" value=""> Closed
                   </label>
                </div>
            </div>
             <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Clinic Display Picture <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.file) }}
                </div>
            </div>
            <div class="form-group">
            <div class="ln_solid"></div>
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a href="{{ path('clinic_show', {'id': entity.id})}}"> {{ form_widget(edit_form.submit, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn'} }) }}</a>
                    <button type="reset" class="btn btn-dark" onclick="goBack()" >Cancel</button>
                </div>
             </div> 
            {{ form_end(edit_form)}}
                </div>
    </div>
</div>
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    
<!-- form validation -->
    <script src={{asset('gentelella/js/validator/validator.js')}}></script>
    <script>
        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('#editClinicForm')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('#editClinicForm').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });
    </script>
    
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
    
    
    <script type="text/javascript" src="{{asset('gentelella/js/jquery.geocomplete.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/icheck/icheck.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/custom.js')}}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRJhfHphrYhN10mIoK_5CtgJQ0M9qbO14&callback=initMap&libraries=places&sensor=false"></script> 
    
    <script>                
function initMap() {
 
  var thislat = $('#researchproject_myprojectbundle_clinic_clinicLat').val();
  var thislong =$('#researchproject_myprojectbundle_clinic_clinicLong').val();
  var center = new google.maps.LatLng(thislat, thislong);
  var myLatLng = {lat: thislat, lng: thislong};
  var map = new google.maps.Map(document.getElementById('clinicmap'), {
    zoom: 16,
    center: center
  });
  
   var input = /** @type {!HTMLInputElement} */(
      document.getElementById('researchproject_myprojectbundle_clinic_clinicAddress'));
    var options = {
  
   componentRestrictions: {country: 'ph'}
};
 
  var autocomplete = new google.maps.places.Autocomplete(input, options);
  autocomplete.bindTo('bounds', map);

  var infowindow = new google.maps.InfoWindow();
  var marker = new google.maps.Marker({
    position: center,
    map: map,
    title: 'Hello World!',
    draggable: true
  });

  google.maps.event.addListener(marker, 'dragend', function(evt){
    document.getElementById('current').innerHTML = '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3) + '</p>';
    $('#researchproject_myprojectbundle_clinic_clinicLat').val(evt.latLng.lat().toFixed(3));
    $('#researchproject_myprojectbundle_clinic_clinicLong').val(evt.latLng.lng().toFixed(3));
    
});

google.maps.event.addListener(marker, 'dragstart', function(evt){
    document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
}); 


  autocomplete.addListener('place_changed', function() {
    infowindow.close();
    marker.setVisible(false);
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }

    // If the place has a geometry, then present it on a map.
    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
     // map.setZoom(17);  // Why 17? Because it looks good.
    }
    
    marker.setPosition(place.geometry.location);
    marker.setVisible(true);

    var address = '';
    if (place.address_components) {
      address = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
      ].join(' ');
    }
    $('#researchproject_myprojectbundle_clinic_clinicLat').val(place.geometry.location.lat());
    $('#researchproject_myprojectbundle_clinic_clinicLong').val(place.geometry.location.lng());
    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    infowindow.open(map, marker);
  });

  // Sets a listener on a radio button to change the filter type on Places
  // Autocomplete.
  function setupClickListener(id, types) {
    var radioButton = document.getElementById(id);
    radioButton.addEventListener('click', function() {
      autocomplete.setTypes(types);
    });
  }
  
  

  setupClickListener('changetype-all', []);
  setupClickListener('changetype-address', ['address']);
  setupClickListener('changetype-establishment', ['establishment']);
  setupClickListener('changetype-geocode', ['geocode']);
}
    </script>
    <script>
    
    document.getElementById('sunday').onclick = function() {
    // access properties using this keyword
     sundayOpenH = document.getElementById('researchproject_myprojectbundle_clinic_sunOpenTime_hour');
     sundayOpenM = document.getElementById('researchproject_myprojectbundle_clinic_sunOpenTime_minute');
     sundayCloseH = document.getElementById('researchproject_myprojectbundle_clinic_sunCloseTime_hour');
     sundayCloseM = document.getElementById('researchproject_myprojectbundle_clinic_sunCloseTime_minute');
     
     if ( this.checked ) {
        sundayOpenH.disabled = true;
        sundayOpenM.disabled = true;
        sundayOpenH.value = 00;
        sundayOpenM.value = 00;
        sundayCloseH.disabled = true;
        sundayCloseM.disabled = true;
        sundayCloseH.value = 00;
        sundayCloseM.value = 00;
        
         } else {
        sundayOpenH.disabled = false;
        sundayOpenM.disabled = false;
        sundayCloseH.disabled = false;
        sundayCloseM.disabled = false;
         }
         
        
};

    document.getElementById('monday').onclick = function() {
    // access properties using this keyword
     mondayOpenH = document.getElementById('researchproject_myprojectbundle_clinic_monOpenTime_hour');
     mondayOpenM = document.getElementById('researchproject_myprojectbundle_clinic_monOpenTime_minute');
     mondayCloseH = document.getElementById('researchproject_myprojectbundle_clinic_monCloseTime_hour');
     mondayCloseM = document.getElementById('researchproject_myprojectbundle_clinic_monCloseTime_minute');
     
     if ( this.checked ) {
         mondayOpenH.disabled = true;
        mondayOpenM.disabled = true;
        mondayOpenH.value = 00;
        mondayOpenM.value = 00;
        mondayCloseH.disabled = true;
        mondayCloseM.disabled = true;
        mondayCloseH.value = 00;
        mondayCloseM.value = 00;
        
         } else {
        mondayOpenH.disabled = false;
        mondayOpenM.disabled = false;
        mondayCloseH.disabled = false;
        mondayCloseM.disabled = false;
         }
         
        
};
      document.getElementById('tuesday').onclick = function() {
    // access properties using this keyword
    tuesdayOpenH = document.getElementById('researchproject_myprojectbundle_clinic_tueOpenTime_hour');
     tuesdayOpenM = document.getElementById('researchproject_myprojectbundle_clinic_tueOpenTime_minute');
     tuesdayCloseH = document.getElementById('researchproject_myprojectbundle_clinic_tueCloseTime_hour');
     tuesdayCloseM = document.getElementById('researchproject_myprojectbundle_clinic_tueCloseTime_minute');
     
     if ( this.checked ) {
        
        tuesdayOpenH.disabled = true;
        tuesdayOpenM.disabled = true;
        tuesdayOpenH.value = 00;
        tuesdayOpenM.value = 00;
        tuesdayCloseH.disabled = true;
        tuesdayCloseM.disabled = true;
        tuesdayCloseH.value = 00;
        tuesdayCloseM.value = 00;
        
         } else {
         
        tuesdayOpenH.disabled = false;
        tuesdayOpenM.disabled = false;
        tuesdayCloseH.disabled = false;
        tuesdayCloseM.disabled = false;
       
         }
         
        
};

 document.getElementById('wednesday').onclick = function() {
    // access properties using this keyword
     wedOpenH = document.getElementById('researchproject_myprojectbundle_clinic_wedOpenTime_hour');
     wedOpenM = document.getElementById('researchproject_myprojectbundle_clinic_wedOpenTime_minute');
     wedCloseH = document.getElementById('researchproject_myprojectbundle_clinic_wedCloseTime_hour');
     wedCloseM = document.getElementById('researchproject_myprojectbundle_clinic_wedCloseTime_minute');
     
     if ( this.checked ) {
         wedOpenH.disabled = true;
        wedOpenM.disabled = true;
        wedOpenH.value = 00;
        wedOpenM.value = 00;
        wedCloseH.disabled = true;
        wedCloseM.disabled = true;
        wedCloseH.value = 00;
        wedCloseM.value = 00;
        
       
        
         } else {
         
        wedOpenH.disabled = false;
        wedOpenM.disabled = false;
        wedCloseH.disabled = false;
        wedCloseM.disabled = false;
        
        
         }
         
        
};

 document.getElementById('thursday').onclick = function() {
    // access properties using this keyword
    thOpenH = document.getElementById('researchproject_myprojectbundle_clinic_thuOpenTime_hour');
     thOpenM = document.getElementById('researchproject_myprojectbundle_clinic_thuOpenTime_minute');
     thCloseH = document.getElementById('researchproject_myprojectbundle_clinic_thuCloseTime_hour');
     thCloseM = document.getElementById('researchproject_myprojectbundle_clinic_thuCloseTime_minute');
     
     if ( this.checked ) {
         thOpenH.disabled = true;
        thOpenM.disabled = true;
        thOpenH.value = 00;
        thOpenM.value = 00;
        thCloseH.disabled = true;
        thCloseM.disabled = true;
        thCloseH.value = 00;
        thCloseM.value = 00;
        
         } else {
        thOpenH.disabled = false;
        thOpenM.disabled = false;
        thCloseH.disabled = false;
        thCloseM.disabled = false;
       
         }
         
        
};

 document.getElementById('friday').onclick = function() {
    // access properties using this keyword
     
     friOpenH = document.getElementById('researchproject_myprojectbundle_clinic_friOpenTime_hour');
     friOpenM = document.getElementById('researchproject_myprojectbundle_clinic_friOpenTime_minute');
     friCloseH = document.getElementById('researchproject_myprojectbundle_clinic_friCloseTime_hour');
     friCloseM = document.getElementById('researchproject_myprojectbundle_clinic_friCloseTime_minute');
     
     if ( this.checked ) {
          friOpenH.disabled = true;
        friOpenM.disabled = true;
        friOpenH.value = 00;
        friOpenM.value = 00;
        friCloseH.disabled = true;
        friCloseM.disabled = true;
        friCloseH.value = 00;
        friCloseM.value = 00;
        
        
        
         } else {
         
        friOpenH.disabled = false;
        friOpenM.disabled = false;
        friCloseH.disabled = false;
        friCloseM.disabled = false;
       
         }
         
        
};

 document.getElementById('saturday').onclick = function() {
    // access properties using this keyword
     
     satOpenH = document.getElementById('researchproject_myprojectbundle_clinic_satOpenTime_hour');
     satOpenM = document.getElementById('researchproject_myprojectbundle_clinic_satOpenTime_minute');
     satCloseH = document.getElementById('researchproject_myprojectbundle_clinic_satCloseTime_hour');
     satCloseM = document.getElementById('researchproject_myprojectbundle_clinic_satCloseTime_minute');
     
     
     if ( this.checked ) {
       satOpenH.disabled = true;
        satOpenM.disabled = true;
        satOpenH.value = 00;
        satOpenM.value = 00;
        satCloseH.disabled = true;
        satCloseM.disabled = true;
        satCloseH.value = 00;
        satCloseM.value = 00;
        
         } else {
        
        satOpenH.disabled = false;
        satOpenM.disabled = false;
        satCloseH.disabled = false;
        satCloseM.disabled = false;
         }
         
        
};
     
     
    
</script>




{% endblock %}