{% extends '::admin.html.twig' %}
{% form_theme edit_form 'ResearchProjectMyProjectBundle:Form:field.html.twig' %}
{%block pagetitle%}ILLNESS{% endblock%}
{% block body -%}
    <center><h1><b>Edit Illness Information</b></h1>
    <div class="x_content">
        <br />
        <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            {{ form_start(edit_form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'editIllnessForm'} }) }}
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Illness Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.illnessName, { 'attr' : { 'id': 'illnessName', 'name': 'illnessName', 'placeholder' : 'Illness Name', 'class' : 'form-control col-md-7 col-xs-12', 
                                                    'data-validate-length-range' : '3',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.illnessName)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Illness Common Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.illnessCommonName, { 'attr' : { 'id': 'illnessCommonName', 'name': 'illnessCommonName', 'placeholder' : 'Illness Common Name', 'class' : 'form-control col-md-7 col-xs-12', 
                                                    'data-validate-length-range' : '3',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.illnessCommonName)}}</div></i>
             <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Define Illness <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.illnessDefinition, { 'attr' : { 'id': 'illnessDefinition', 'name': 'illnessDefinition', 'placeholder' : 'Define Illness', 'class' : 'resizable_textarea form-control', 
                                                    'data-validate-length-range' : '3',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.illnessDefinition)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Describe Illness <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.illnessDescription, { 'attr' : { 'id': 'illnessDescription', 'name': 'illnessDescription', 'placeholder' : 'Describe illness', 'class' : 'resizable_textarea form-control', 
                                                    'data-validate-length-range' : '3',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.illnessDescription)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Symptoms <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.symptoms, { 'attr' : { 'id': 'symptoms', 'name': 'symptoms', 'placeholder' : 'Describe symptoms', 'class' : 'resizable_textarea form-control', 
                                                    'data-validate-length-range' : '3',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.symptoms)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Home Remedies <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.homeRemedies, { 'attr' : { 'id': 'homeRemedies', 'name': 'homeRemedies', 'placeholder' : 'Alternatives found at home / First Aid', 'class' : 'resizable_textarea form-control', 
                                                    'data-validate-length-range' : '3',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.homeRemedies)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Commonly Prescribed Drugs <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.commonlyPrescribedDrugs, { 'attr' : { 'id': 'commonlyPrescribedDrugs', 'name': 'commonlyPrescribedDrugs', 'placeholder' : 'Commonly Prescribed Drugs', 'class' : 'resizable_textarea form-control', 
                                                    'data-validate-length-range' : '3',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(edit_form.commonlyPrescribedDrugs)}}</div></i>
            
                
            <div class="ln_solid"></div>
            <div class="form group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a href="{{ path('illness_show', {'id': entity.id})}}"> {{ form_widget(edit_form.submit, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn'} }) }}</a>
                    <button class="btn btn-primary" onclick="goBack()">Cancel</button>
                </div>
            </div>
            {{ form_end(edit_form)}}
            </div>
           
    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    
    <!-- icheck -->
    <script src={{asset('gentelella/js/icheck/icheck.min.js')}}></script>

    <script src={{asset('gentelella/js/custom.js')}}></script>
    <!-- form validation -->
    <script src={{asset('gentelella/js/validator/validator.js')}}></script>
    <script>
        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('#editIllnessForm')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('#editIllnessForm').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });
    </script>
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
{% endblock %}





