{% extends '::admin.html.twig' %}
{% block pagetitle %}Edit Account{% endblock %}
{% block body -%}
    <div class="">
        <div class="page-title">
            <div class="title">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" >
                    
                        <h3>Edit Account</h3>
                       
                    <div class="x_content">
                        <input class="form-control" id='search' type="text" name="query" placeholder="Type a name" />
                         
                                                    <center><img hidden id="loading" src="{{asset('charisma/img/ajax-loaders/ajax-loader-1.gif')}}" ></center>
                                                    <table class="table table-striped" id="resulttable" class="hidden">

                                                        <tbody id="resultbody">

                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- form validation -->
<script>
                                   
   </script>
    <script>
$('#search').keyup(function() {
    
     searchText = $(this).val();
     if (this.value != ''){
         $("#resultbody").empty();
     }
     
     
     if (this.value.length >= 3 && this.value != '')
  {
     $.ajax({
        type: "POST",
        dataType: "json",
        url: '{{ path('admin_edit_doctor_search') }}',
        data: {searchText : searchText},
        beforeSend: function(){
        $('#loading').show();
        },
        complete: function(){
        $('#loading').hide();
        },
        success : function(data) 
           
           {if(data){
                $("#resultbody").empty();
                var len = data.length;
                var txt = "";
                  if(len > 0){
                    for(var i=0;i<len;i++){
                            //var button= $('<button type="button" class="btn btn-primary btn-xs"> <i class="fa fa-user"></i> Invite to Group </button>');
                            var entityId = data[i].id;
                            var showPath = '{{ path("admin_doctor_edit", {'id' : 'entityId' })}}';
                             var showPath2 = '{{ path("doctor_show", {'id' : 'entityId' })}}';
                            showPath = showPath.replace("entityId", data[i].id);
                            showPath2 = showPath2.replace("entityId", data[i].id);
                            txt += "<tr><td>"+data[i].firstName+" "+data[i].middleName+" "+data[i].lastName +"</td>";
                            txt+= '<td><a href="'+showPath+'" ><button id="edit-'+ data[i].id+'" type="button" class="btn btn-success btn-xs btn-edit"> <i class="fa fa-edit"></i> Edit Account </button><td><a href="'+showPath2+'" ><button id="view-'+ data[i].id+'" type="button" class="btn btn-primary btn-xs btn-view"> <i class="fa fa-user"></i> View Account </button>';
                        
                    }
                    if(txt != ""){
                        $("#resultbody").append(txt).removeClass("hidden");
                         
                    }
                }
            }
        },error: function() {
         alert('error');
          }
        });
    }
});
       
    </script>
    {% endblock %}
