{% extends '::admin.html.twig' %}
{% form_theme edit_form 'ResearchProjectMyProjectBundle:Form:field.html.twig' %}
{% block pagetitle %}DOCTOR{% endblock %}
{%block doctor%} class="active" {% endblock %}
{% block body -%}
 <link href={{asset('gentelella/css/select/select2.min.css')}} rel="stylesheet">
<center><h1><b>Edit Doctor Information</b></h1></center>
    <div class="x_content">
        <br />
        <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            {{ form_start(edit_form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'editForm' } }) }}
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >First Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.firstName, { 'attr' : { 'id': 'firstName', 'name': 'firstName', 'placeholder' : 'First Name', 'class' : 'form-control col-md-7 col-xs-12', 
                                                    'data-validate-length-range' : '1',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.firstName)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.lastName, { 'attr' : { 'name': 'lastName', 'placeholder' : 'Last Name', 'class' : 'form-control col-md-7 col-xs-12',
                                                   'data-validate-length-range' : '2', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.lastName)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.middleName, { 'attr' : { 'name': 'middleName', 'placeholder' : 'Middle Name', 'class' : 'form-control col-md-7 col-xs-12',
                                                     'data-validate-length-range' : '2', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.middleName)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Address <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.emailAddress, { 'attr' : { 'name': 'emailAddress', 'placeholder' : 'Email Address', 'class' : 'form-control col-md-7 col-xs-12',
                                                     'data-validate-length-range' : '2', 'required': 'required', 'type' : 'email' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.emailAddress)}}</div></i>
            <div class="item form-group ">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Username <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.username, { 'attr' : { 'name': 'username', 'placeholder' : 'Username', 'class' : 'form-control col-md-7 col-xs-12', 
                                                    'data-validate-length-range' : '6', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.username)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Birth <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                   {{  form_widget(edit_form.dateOfBirth, { 'attr' : { 'name': 'dateOfBirth', 'placeholder' : 'Date of Birth', 'class' : 'form-control col-md-7 col-xs-12', 
                                                        'data-validate-length-range' : '6',  'required': 'required', 'type' : 'password' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.dateOfBirth)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Field of Practice <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{  form_widget(edit_form.fieldOfPractice, { 'attr' : { 'name': 'fieldOfPractice', 'placeholder' : 'Field of Practice', 'class' : 'form-control col-md-7 col-xs-12'} }) }}
                    </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.fieldOfPractice)}}</div></i>
            <div id ="specialtyblock" class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Specialty <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{  form_widget(edit_form.specialties, { 'attr' : { 'name': 'specialty', 'placeholder' : 'Specialty', 'class' :'select2_multiple form-control'} }) }}
                    </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.specialties)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Contact Number <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.contactNumber, { 'attr' : { 'id': 'cnum', 'name': 'cnum', 'placeholder' : 'ContactNumber', 'class' : 'form-control col-md-7 col-xs-12', 
                                                    'data-validate-length-range' : '1',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div><div class="item form-group" id="fellowshipblock">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Fellowship/s <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{  form_widget(edit_form.fellowships, { 'attr' : { 'name': 'fellowships', 'class' :'select2_multiple form-control', 'required':'required'} }) }}
                    </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.fellowships)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">PRC Number <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{  form_widget(edit_form.prcNumber, { 'attr' : { 'name': 'prcNumber', 'placeholder' : 'PRC Number', 'class' : 'form-control col-md-7 col-xs-12', 
                                                       'data-validate-length-range' : '7,7',  'required': 'required', 'type' : 'number' } }) }}  
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.prcNumber)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Original Issue Date <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                   {{  form_widget(edit_form.origIssueDate, { 'attr' : { 'name': 'origIssueDate', 'placeholder' : 'Original Issue Date:', 'class' : 'form-control col-md-7 col-xs-12' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.origIssueDate)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">About My Practice <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{  form_widget(edit_form.aboutMyPractice, { 'attr' : { 'name': 'aboutMyPractice', 'placeholder' : 'About My Practice', 'class' : 'form-control col-md-7 col-xs-12',
                                                                 'data-validate-length-range' : '6',  'required': 'required', 'type' : 'text' } }) }}
                    </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px; list-style-type: none;" >{{form_errors(edit_form.aboutMyPractice)}}</div></i>
             <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >First Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(edit_form.file) }}
                </div>
            </div>   
            <div class="ln_solid"></div>
            
            <div class ="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a href="{{ path('doctor_show', {'id': entity.id})}}"> {{ form_widget(edit_form.submit, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn'} }) }}</a>
                    <button class="btn btn-dark" onclick="goBack()">Cancel</button>
                </div>
            </div>
                
            {{ form_end(edit_form)}}
            </div>
    </div>
    
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script>
        function goBack() {
        window.history.back();
        }
    </script>
    <!-- icheck -->
    <script src={{asset('gentelella/js/icheck/icheck.min.js')}}></script>

    <script src={{asset('gentelella/js/custom.js')}}></script>
    <!-- form validation -->
    <script src={{asset('gentelella/js/validator/validator.js')}}></script>
     <script src={{asset('gentelella/js/select/select2.full.js')}}></script>
    <script>
        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('#editForm')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('#editForm').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });
    </script>
    <script type="text/javascript">
            var choice = document.getElementById("researchproject_myprojectbundle_doctor_fieldOfPractice");
            choice.onchange=newChoice;
            function newChoice()
            {   
                var choice = document.getElementById("researchproject_myprojectbundle_doctor_fieldOfPractice");
                var selectedValue = choice.options[choice.selectedIndex].value;


                if (selectedValue == "Specialized")
                {   document.getElementById("specialtyblock").style.display = "block";
                }
                else
                {
                   document.getElementById("specialtyblock").style.display = "none";
                }
            }
    </script>
     <script>
            $(document).ready(function () {
                $(".select2_single").select2({
                    allowClear: true
                });
                $(".select2_group").select2({});
                $(".select2_multiple").select2({
                    allowClear: true
                });
                
                
            });
        </script>

{% endblock %}
