{% extends '::admin.html.twig' %}

{% block body -%}
<div class="x_panel">
    <div class="x_content">    
<div class="jumbotron">
    <center>
                                        <h1>Hello {{app.user.username}}!</h1>
                                        <p>Welcome to the Admin Panel.</p>
    </center>
                                    </div>
        </div>
   </div>
    {% endblock %}
