{% extends '::admin.html.twig' %}
{% form_theme form 'ResearchProjectMyProjectBundle:Form:field.html.twig' %}
{% block body -%}
    <link href={{asset('gentelella/css/select/select2.min.css')}} rel="stylesheet">
</br>

    <center><h1><b>Register New Specialty</b></h1>
    <div>
        <br/>
        <br/>
        <div >
            {{ form_start(form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'registerForm', 'class':'form-horizontal form-label-left' } }) }}
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Specialty Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.specialtyName, { 'attr' : { 'placeholder' : 'Specialty Name', 'class' : 'form-control col-md-7 col-xs-12', 
                                                    'data-validate-length-range' : '1',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.specialtyName)}}</div></i>
            
            <div class="ln_solid"></div>
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a href="">{{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn'} }) }}</a>
                    <button type="reset" class="btn btn-dark" onclick="goBack()" >Cancel</button>
                </div>
            </div>
           {{ form_end(form)}}
    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
<script type="text/javascript" src="{{asset('gentelella/jquery-ui/external/jquery/jquery.js')}}"></script>
     <script type="text/javascript" src="{{asset('gentelella/jquery-ui/jquery-ui.min.js')}}"></script>
     <script src={{asset('gentelella/js/bootstrap.min.js')}}></script>
    <!-- icheck -->
    <script src={{asset('gentelella/js/icheck/icheck.min.js')}}></script>

    <script src={{asset('gentelella/js/custom.js')}}></script>
    <!-- form validation -->
    <script src={{asset('gentelella/js/validator/validator.js')}}></script>
    <script src={{asset('gentelella/js/select/select2.full.js')}}></script>
    <!-- tags -->
        <script src={{asset('gentelella/js/tags/jquery.tagsinput.min.js')}}></script>
    <script type="text/javascript" src="{{asset('notify/notify.js')}}"></script>
    <!-- input tags -->
        <script>
            function onAddTag(tag) {
                alert("Added a tag: " + tag);
            }

            function onRemoveTag(tag) {
                alert("Removed a tag: " + tag);
            }

            function onChangeTag(input, tag) {
                alert("Changed a tag: " + tag);
            }

            $(function () {
                $('#researchproject_myprojectbundle_doctor_contactNumbers').tagsInput({
                    width: 'auto'
                });
            });
        </script>
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
 
    <script>
        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('#registerForm')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

       

        $('#registerForm').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }
            

            if (submit)
                this.submit();
            return false;
        });
    </script>
   
{% endblock %}
