<!DOCTYPE html>
<html lang="en">
    
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>Find Me A Doctor Iloilo</title>
	
	
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
	
	<!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
	
        <!-- Bootstrap core CSS -->
        <script src="{{asset('retina/default/js/jquery-1.8.0.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('retina/default/js/functions.js')}}" type="text/javascript"></script>
 <link href="{{asset('gentelella/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet">
     <link href="{{asset('gentelella/jquery-ui/jquery-ui.theme.css')}}" rel="stylesheet">
     <link href="{{asset('gentelella/jquery-ui/jquery-ui.structure.css')}}" rel="stylesheet">
     <link href="{{asset('gentelellaoriginal/css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{asset('gentelellaoriginal/fonts/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('gentelellaoriginal/css/animate.min.css')}}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{{asset('gentelellaoriginal/css/custom.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset('gentelellaoriginal/css/maps/jquery-jvectormap-2.0.1.css')}}" />
    <link href="{{asset('gentelellaoriginal/css/icheck/flat/green.css')}}" rel="stylesheet" />
    <link href="{{asset('gentelellaoriginal/css/floatexamples.css')}}" rel="stylesheet" type="text/css" />

    <script src="{{asset('gentelella/js/jquery.min.js')}}"></script>
    <script src="{{asset('gentelellaoriginal/js/nprogress.js')}}"></script>
</head>

<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>FIMADILO ADMIN</span></a>
                    </div>
                    <div class="clearfix"></div>

                   
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="{{path('admin')}}"><i class="fa fa-home"></i> Home </a>
                                    
                                </li>
                                <li><a><i class="fa fa-user-md"></i> Doctor <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="{{path('admin_doctor_new')}}">Register Doctor</a>
                                        <li><a href="{{path('admin_edit_doctor_search')}}">Edit Doctor</a>
                                         <li><a href="{{path('admin_delete_doctor')}}">Remove Doctor</a>    
                                        </li>
                                    </ul>
                                </li>
                                 <li><a><i class="fa fa-hospital-o"></i> Clinic <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                         <li><a href="{{path('admin_edit_clinic_search')}}">Edit Clinic</a>
                                         <li><a href="{{path('admin_delete_clinic')}}">Remove Clinic</a>  
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-stethoscope"></i> Specialty <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                         <li><a href="{{path('admin_specialty_create')}}">Add Specialty</a>
                                         <li><a href="{{path('admin_delete_specialty')}}">Remove Specialty</a>  
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-eyedropper"></i> Illness <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                       <li><a href="{{path('admin_edit_illness_search')}}">Add Illness</a>
                                       <li><a href="{{path('admin_edit_illness_search')}}">Edit Illness</a>
                                       <li><a href="{{path('admin_delete_illness')}}">Delete Illness</a>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-users"></i> Fellowship <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="{{path('admin_fellowship_create')}}">Add Fellowship</a>
                                       <li><a href="{{path('admin_delete_fellowship')}}">Delete Fellowship</a>
                                    </ul>
                                </li>
                                 <li><a href="{{path('admin_logout')}}"> Logout </a>
                            </ul>
                        </div>
                        

                    </div>
                    <!-- /sidebar menu -->

                   
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    {{app.user.username}}
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    
                                    <li><a href="{{path('admin_logout')}}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->


            <!-- page content -->
            <div class="right_col" role="main">
               {%block body%}
                {%endblock%}
                
                                  
                           
             </div>








                <!-- footer content -->

                <footer>
                    
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
            <!-- /page content -->

        </div>

    </div>
<!-- end of wrapper -->
<script src="{{asset('gentelellaoriginal/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('notify/notify.js')}}"></script>
    <!-- gauge js -->
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/gauge/gauge.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/gauge/gauge_demo.js')}}"></script>
    <!-- chart js -->
    <script src="{{asset('gentelellaoriginal/js/chartjs/chart.min.js')}}"></script>
    <!-- bootstrap progress js -->
    <script src="{{asset('gentelellaoriginal/js/progressbar/bootstrap-progressbar.min.js')}}"></script>
    <script src="{{asset('gentelellaoriginal/js/nicescroll/jquery.nicescroll.min.js')}}"></script>
    <!-- icheck -->
    <script src="{{asset('gentelellaoriginal/js/icheck/icheck.min.js')}}"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/datepicker/daterangepicker.js')}}"></script>

    <script src="{{asset('gentelellaoriginal/js/custom.js')}}"></script>

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="{{asset('gentelellaoriginal/js/excanvas.min.js')}}"></script><![endif]-->
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/flot/jquery.flot.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/flot/jquery.flot.pie.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/flot/jquery.flot.orderBars.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/flot/jquery.flot.time.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/flot/date.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/flot/jquery.flot.spline.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/flot/jquery.flot.stack.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/flot/curvedLines.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/flot/jquery.flot.resize.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/notify/pnotify.core.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/notify/pnotify.buttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelellaoriginal/js/notify/pnotify.nonblock.js')}}"></script>
</body>
</html>