<!DOCTYPE html>
<html lang="en">
    
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
	<title>Find Me A Doctor Iloilo</title>
	<link rel="shortcut icon" type="image/x-icon" href="{{asset('retina/default/css/images/favicon.ico')}}" />
	
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100' rel='stylesheet' type='text/css'>
	<script src="{{asset('retina/default/js/jquery-1.8.0.min.js')}}" type="text/javascript"></script>
	<!--[if lt IE 9]>
		<script src="js/modernizr.custom.js"></script>
	<![endif]-->
	<script src="{{asset('retina/default/js/jquery.carouFredSel-5.5.0-packed.js')}}" type="text/javascript"></script>
	<script src="{{asset('retina/default/js/functions.js')}}" type="text/javascript"></script>
        <!-- Bootstrap core CSS -->
 <link href="{{asset('gentelella/jquery-ui/jquery-ui.min.css')}}" rel="stylesheet">
     <link href="{{asset('gentelella/jquery-ui/jquery-ui.theme.css')}}" rel="stylesheet">
     <link href="{{asset('gentelella/jquery-ui/jquery-ui.structure.css')}}" rel="stylesheet">
    <link href="{{asset('gentelella/css/bootstrap.min.css')}}" rel="stylesheet">
<link href={{asset('gentelella/css/formerrornotify.css')}} rel="stylesheet">
    <link href="{{asset('gentelella/fonts/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('gentelella/css/animate.min.css')}}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{{asset('gentelella/css/custom.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset('gentelella/css/maps/jquery-jvectormap-2.0.1.css')}}" />
    <link href="{{asset('gentelella/css/icheck/flat/green.css')}}" rel="stylesheet" />
    <link href="{{asset('gentelella/css/floatexamples.css')}}" rel="stylesheet" type="text/css" />

    <script src="{{asset('gentelella/js/jquery.min.js')}}"></script>
    <script src="{{asset('gentelella/js/nprogress.js')}}"></script>
    <link rel="stylesheet" href="{{asset('retina/default/css/style.css')}}" type="text/css" media="all" />
    <link href="{{asset('gentelella/css/bootstrap.min.css')}}" rel="stylesheet">
 <link href="{{asset('gentelella/css/animate.min.css')}}" rel="stylesheet">

</head>
<body>
<!-- wrapper -->
<div id="wrapper">
	<!-- shell -->
	<div class ="shell">
		<!-- container -->
		<div class="container">
			<!-- header -->
			<header id="header">
				<a href="{{path('homepage')}}"><img src="{{asset('retina/default/logo.png')}}"></a>
                                   {% if app.user %} 
                                    <span class="right"><a href="{{ path('logout') }}"><button class="btn btn-default"> Log Out</button></a></span>
                                    {% else %}
                                    <span class = "right"><a href="{{path('login')}}"><button class="btn btn-default">Login</button></a></span>
                                    {% endif%}
                                   
                                <!-- search -->
				<div class="search">
                                    
					<form action="{{path('search')}}" method="POST" role="search">
						<div class="input-group">
                                                  <input type="text" id="searchfield" name="searchfield" class="field" placeholder="Search something." value="" />
						<input type="submit" class="search-btn" value="" />
						<div class="cl">&nbsp;</div>
                                                  </div>
                                        </form>
                                    
                                    
				</div>
                               
				<!-- end of search --> 
				<div class="cl">&nbsp;</div>
			</header>
			<!-- end of header -->
			<!-- navigaation -->
			<nav id="navigation">
				<a href="#" class="nav-btn">HOME<span></span></a>
				<ul>
					<li {%block home%} {% endblock %}><a href="{{path('homepage')}}">Home</a></li>
                                        {% if app.user%}
                                            <li {%block profile%} {% endblock %}><a href="{{path('doctor_show', {'id' : app.user.id})}}">Profile</a></li>
                                        {% endif %}
					<li {%block doctor%} {% endblock %}><a href="{{path('doctorhomepage')}}">Doctors</a></li>
					<li {%block clinic%} {% endblock %}><a href="{{path('clinichomepage')}}">Clinics</a></li>
					<li {%block illness%} {% endblock %}><a href="{{path('illnesshomepage')}}">Illnesses</a></li>
                                        {% if app.user%}
                                        <li {%block doctorgroup%} {% endblock %}><a href="{{path('doctorgrouphomepage')}}">Doctor Group</a></li>
					{% endif %}
                                        {% if app.user%}
                                        <li{%block settings%} {% endblock %}><a href="{{path('settings_page')}}">Settings</a></li>
					{% endif %}
                                        
				</ul>
				<div class="cl">&nbsp;</div>
			</nav>
			<!-- end of navigation -->
			
			<!-- main -->
			<div class="main">

				<section>
					<div class="col">
						
                                                {%block body%}{%endblock%}
					</div>

				</section>

				
			</div>
			<!-- end of main -->
			<div class="cl">&nbsp;</div>
			
			<!-- footer -->
			<div id="footer">
				<div class="footer-nav">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Solutions</a></li>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contacts</a></li>
					</ul>
					<div class="cl">&nbsp;</div>
				</div>
				<p class="copy">&copy; Copyright 2012<span>|</span>Sitename. Design by <a href="http://chocotemplates.com" target="_blank">ChocoTemplates.com</a></p>
				<div class="cl">&nbsp;</div>
			</div>
			<!-- end of footer -->
		</div>
		<!-- end of container -->
	</div>
	<!-- end of shell -->
</div>
<!-- end of wrapper -->
<script src="{{asset('gentelella/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('notify/notify.js')}}"></script>
    <!-- gauge js -->
    <script type="text/javascript" src="{{asset('gentelella/js/gauge/gauge.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/gauge/gauge_demo.js')}}"></script>
    <!-- chart js -->
    <script src="{{asset('gentelella/js/chartjs/chart.min.js')}}"></script>
    <!-- bootstrap progress js -->
    <script src="{{asset('gentelella/js/progressbar/bootstrap-progressbar.min.js')}}"></script>
    <script src="{{asset('gentelella/js/nicescroll/jquery.nicescroll.min.js')}}"></script>
    <!-- icheck -->
    <script src="{{asset('gentelella/js/icheck/icheck.min.js')}}"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="{{asset('gentelella/js/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/datepicker/daterangepicker.js')}}"></script>

    <script src="{{asset('gentelella/js/custom.js')}}"></script>

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="{{asset('gentelella/js/excanvas.min.js')}}"></script><![endif]-->
    <script type="text/javascript" src="{{asset('gentelella/js/flot/jquery.flot.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/flot/jquery.flot.pie.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/flot/jquery.flot.orderBars.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/flot/jquery.flot.time.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/flot/date.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/flot/jquery.flot.spline.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/flot/jquery.flot.stack.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/flot/curvedLines.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/flot/jquery.flot.resize.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/notify/pnotify.core.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/notify/pnotify.buttons.js')}}"></script>
    <script type="text/javascript" src="{{asset('gentelella/js/notify/pnotify.nonblock.js')}}"></script>
</body>
</html>