{% extends '::basenosidebar.html.twig' %}
{% block doctorgroup %} class="active" {% endblock %}
{% block pagetitle %}DOCTOR GROUP{% endblock %}
{% block body -%}
    <div class="">
        <div class="page-title">
            <div class="title">
                <h3>&nbsp;Invite Members to Group</h3>
            </div>
        </div>
        <div >
            <div>
                <div  >
                    
                    <div >
                        <center>
                                 <div class="">
                                    
                                        <input id='search' type="text" name="query" />
                                        
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Search result</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                     <img hidden id="loading" src="{{asset('charisma/img/ajax-loaders/ajax-loader-1.gif')}}" >
                                    <table class="table table-striped" id="resulttable" class="hidden">
                                       
                                        <tbody id="resultbody">
                                            
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                                        
                                </div>
                                
                        </center>
                    </div>
                </div>
            </div>
        </div>
        


<div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    
<!-- form validation -->
    <script src={{asset('gentelella/js/validator/validator.js')}}></script>
    <script  
  src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
</script>
    <script>
$('#search').keyup(function() {

     searchText = $(this).val();
     groupId = {{app.user.}}
     if (this.value != ''){
         $("#resultbody").empty();
     }
     
     
     if (this.value.length >= 3 && this.value != '')
  {
     $.ajax({
        type: "POST",
        dataType: "json",
        url: '{{ path('invite_doctor') }}',
        data: {searchText : searchText, groupId : group },
        beforeSend: function(){
        $('#loading').show();
        },
        complete: function(){
        $('#loading').hide();
        },
        success : function(data) 
            
            {if(data){
                $("#resultbody").empty();
                var len = data.length;
                var txt = "";
                  if(len > 0){
                    for(var i=0;i<len;i++){
                            //var button= $('<button type="button" class="btn btn-primary btn-xs"> <i class="fa fa-user"></i> Invite to Group </button>');
                            txt += "<tr><td>"+data[i].firstName+" "+data[i].middleName+" "+data[i].lastName +"</td>";
                            txt+= '<td><button id="add-'+ data[i].id+'" type="button" class="btn btn-primary btn-xs"> <i class="fa fa-user"></i> Invite to Group </button>' + '</td></tr>';
                        
                    }
                    if(txt != ""){
                        $("#resultbody").append(txt).removeClass("hidden");
                        
                    }
                }
            }
        },error: function() {
         alert('error');
          }
        });
    }
});
    </script>
    {% endblock %}