{% extends '::basenosidebar.html.twig' %}
{% form_theme form 'ResearchProjectMyProjectBundle:Form:field.html.twig' %}
{% block doctorgroup %} class="active" {% endblock %}
{% block pagetitle %}DOCTOR GROUP{% endblock %}
{% block body -%}
    <center><h1><b>Create New Doctor Group</b></h1>
    <div class="x_content">
        <br/>
        <div data-parsley-validate class="form-horizontal form-label-left">
            {{ form_start(form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'createNewGroup' } }) }}
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Group Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.groupName, { 'attr' : { 'name': 'groupName', 'placeholder' : 'Group Name', 'class' : 'form-control col-md-7 col-xs-12', 
                                                     'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.groupName)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >Description <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.description, { 'attr' : { 'name': 'description', 'placeholder' : 'Description', 'class' : 'form-control col-md-7 col-xs-12', 
                                                     'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.description)}}</div></i>
            
            <div class="ln_solid"></div>
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href="">{{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn', 'onClick' : 'submitClicked()'} }) }}</a>
                <button type="reset" class="btn btn-dark" onclick="goBack()" >Cancel</button>
            </div>
        </div>
        
        
        {{ form_end(form)}}
    </div>
        
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    
<!-- form validation -->
    <script src={{asset('gentelella/js/validator/validator.js')}}></script>
    <script>
        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('#createNewGroup')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('#createNewGroup').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });
    </script>
    
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
{% endblock %}
