{% extends '::basenosidebar.html.twig' %}
{% form_theme form 'ResearchProjectMyProjectBundle:Form:field.html.twig' %}
{% block doctorgroup %} class="active" {% endblock %}
{% block pagetitle %}DOCTOR GROUP{% endblock %}
{% block body -%}
    <div class="">
        <div class="page-title">
            <div class="title">
                <h3>&nbsp;DOCTOR GROUP</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" >
                    
                        <h3>Group Profile</h3>
                       
                    <div class="x_content">
                        <center>
                            <div hidden id="groupId">{{entity.id}}</div>
                            <h3 style="font-size: 30px;"><b> {{entity.groupName}}</b></h3>
                            <h4 style="font-family: Century Gothic; font-size: 20px;"><i> {{entity.description}}</i></h4>
                            <h4 style="font-family: Century Gothic; font-size: 15px;"><i> Created on: {{ entity.dateCreated | date('m-d-Y')}}</i></h4>
                            
                                {% for admin in entity.getAdminDoctors%}
                                    {% if admin == app.user %}
                                        <a href="{{path('doctorgroup_edit', {'id': entity.id})}}"><button class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit Information</button></a>
                                       <button id ="imodal" type="button" class="btn btn-success btn" data-toggle="modal" data-target="#invite" data-backdrop="static" data-keyboard="false"><i class="glyphicon glyphicon-user"></i> Invite Member to Group</button>
                                       <button id ="view" type="button" class="btn btn-success btn" data-toggle="modal" data-target="#viewmembers" data-backdrop="static" data-keyboard="false"><i class="glyphicon glyphicon-eye-open"></i> View Members</button>
                                       <button id ="deletegroup-{{entity.id}}" type="button" class="btn btn-danger btn-delete-group" data-toggle="modal" data-target="#deletegroupmodal" data-backdrop="static" data-keyboard="false"><i class="glyphicon glyphicon-trash"></i> Delete Group</button>
                                    {% endif %}
                                {% endfor %}
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" >
                    <div align="right" >
                        <h3 style="font-size: 20px;">Group Discussions</h3>
                        {% for member in entity.getDoctors%}
                            {% if app.user == member %}
                                <button type="button" class="btn btn-success right" data-toggle="modal" data-target="#postmodal"><i class="glyphicon glyphicon-plus-sign icon-white"></i>
                                    New Post</button>
                            {% endif %}
                        {% endfor %}
                                <div id="postmodal" class="modal fade bs-example-modal-lg" align="left" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                </button>
                                                <h3 class="modal-title" id="myModalLabel">New Post</h3>
                                            </div>
                                            <div class="modal-body">
                                                
                                                {{ form_start(form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'newPost', 'class':'form-horizontal form-label-left' } }) }}
                                                <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-2 left-align" >Post Title: </label>
                                                    <div class="col-md-7">
                                                        {{ form_widget(form.postTitle, { 'attr' : { 'name': 'postTitle', 'placeholder' : 'Post Title', 'class' : 'form-control col-md-5 col-xs-5', 
                                                        'data-validate-length-range' : '1', 'required': 'required', 'type' : 'text' } }) }}
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                <label class="control-label col-md-2 col-sm-2 col-xs-2" >Post Content: </label>
                                                    <div class="col-md-7">
                                                        {{ form_widget(form.postContent, { 'attr' : { 'name': 'postContent', 'placeholder' : 'Post Content', 'class' : 'form-control col-md-5 col-xs-5', 
                                                        'data-validate-length-range' : '5', 'required': 'required', 'type' : 'text' } }) }}
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                <a href="">{{ form_widget(form.Post, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn', 'onClick' : 'submitClicked()'} }) }}</a> 
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                        
                    </div>
                    <div class="x_content" align="center">
                        {% if entity.getGroupPosts is empty %}
                            <h4 style="font-family: Century Gothic;font-size: 16px;"> <i>No discussions started yet.</i> </h4>
                        {% else %}
                        {% for post in entity.getGroupPosts %}
                        
                        <h3>Post Title: {{post.postTitle}} </h3>
                        <a style ="color: white;"   href="{{path('grouppost_show', {'id' : post.id})}}"><button data-toggle="tooltip" data-placement="bottom" title="View post" class='btn btn-info'><i class="glyphicon glyphicon-eye-open icon-white"></i>
                                </button></a>
                        {% if post.doctorAuthor == app.user %} 
                        <a  id="dlt_post-{{post.id}}"  data-toggle="tooltip" data-placement="bottom" title="Delete post" class="btn btn-danger btn-delete-post" href="#">
                                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                                            
                                                        </a>
                        <a  id="edit_post-{{post.id}}" data-toggle="tooltip" data-placement="bottom" title="Edit post" class="btn btn-primary btn-edit-post" href="{{ path('grouppost_edit', {'id': post.id})}}">
                                                            <i class="glyphicon glyphicon-edit icon-white" ></i>
                                                            
                                                        </a>
                        {% endif%}
                        <div class='ln solid'></div>
                        </br>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        
        <div id="invitemodal" class="modal fade bs-example-modal-lg" align="left" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" >
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title" style="font-family: Century Gothic;" id="myModalLabel">Invite members to group</h4>
                                            </div>
                                            <div class="modal-body">
                                                
                                            </div>
                               
                                        </div>
                                    </div>
                                </div>
        
        
        <div id="delete" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 style="font-family: Century Gothic; font-size: 16px;"class="modal-title" id="deleteModal">Delete Post</h4>
                                            </div>

                                            <div class="modal-body">
                                                <center><h4 style="font-family: Century Gothic; font-size: 16px;">
                                                        <i class="fa fa-exclamation-triangle" style="color:#ff4d4d; font-size: 30px;"></i>&emsp;Are you sure you want to remove this post?</h4></center>
                                            </div>
                                            
                                            <div class="modal-footer">
                                                    <button type="button" id='con_delete_post' class="btn btn-primary" >Yes</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
        
        <div id="invite" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 style="font-family: Century Gothic; font-size: 16px;"class="modal-title" id="editModal">Invite Members</h4>
                                            </div>

                                            <div class="modal-body confirm">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <center>
                                                        <h3 style="font-size: 20px;">Find member</h3>
                                                    <div class="clearfix"></div>
                                                    <input class='form-control'id='search' placeholder="Search name of doctor" type="text" name="query" />
                                                    </center>
                                                </div>
                                                <div class="x_content" style="overflow-y: scroll; height:300px;">
                                                    <center><img hidden id="loading" src="{{asset('charisma/img/ajax-loaders/ajax-loader-1.gif')}}" ></center>
                                                    <table class="table table-striped" id="resulttable" class="hidden">

                                                        <tbody id="resultbody">
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                            </div>
                                          
                                               
                                             <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    
                                                </div>
                                            </div>

                                        </div>
                                    </div>
       <div id="deletegroupmodal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 style="font-family: Century Gothic; font-size: 16px;"class="modal-title" id="deletegroupmodal">Delete Group</h4>
                                            </div>

                                            <div class="modal-body">
                                                <center><h4 style="font-family: Century Gothic; font-size: 16px;">
                                                        <i class="fa fa-exclamation-triangle" style="color:#ff4d4d; font-size: 30px;"></i>&emsp;Are you sure you want to remove this group?</h4></center>
                                            </div>
                                            
                                            <div class="modal-footer">
                                                    <button type="button" id='con_delete_post' class="btn btn-primary" >Yes</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
         <div id="viewmembers" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" >
                                        <div class="modal-content">
                                            <div class="modal-header">
                                               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 style="font-family: Century Gothic; font-size: 16px;"class="modal-title" id="viewmodal">Remove Members</h4>
                                            </div>

                                            <div class="modal-body">
                                               <div class="x_panel">
                                                    <center><h3 style="font-size: 20px;">MEMBERS</h3></center>
                                                <div class="x_content" style="overflow-y: scroll; height:400px;">
                                                   
                                                    <table class="table table-striped" id="membertable" class="hidden">

                                                        <tbody id="viewbody">
                                                            {%for member in entity.doctors%}
                                                            <tr>
                                                                <td>
                                                                    <center>
                                                                    <a href="{{path("doctor_show", {'id' : member.id})}}">     {{member.firstName}} {{member.lastName}} </a>
                                                                    </center>
                                                                </td>
                                                                <td>
                                                                    <center>
                                                                    <button id="deletemember-{{member.id}}" type="button" class="btn btn-danger btn-xs btn-removefromgroup"> <i class="fa fa-close"></i> Remove from Group</button> 
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                            <div id="noresults"></div>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                                
                                                
                                                
                                            </div>

                                        </div>
                                    </div>
                                </div>
          </div>
        
    </div>


<div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
    
<!-- form validation -->
    <script src={{asset('gentelella/js/validator/validator.js')}}></script>
    <script>
        // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('#newPost')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);

        $('#newPost').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();
            return false;
        });
    </script>
    <script>
                                    var dltPostBtnId;
                                    $(".btn-delete-post").click(function(x) {
                                        x.preventDefault();
                                        dltPostBtnId = this.id;
                                        dltPostBtnId = dltPostBtnId.replace('dlt_post-', '');
                                        $('#delete').modal();
                                    });
                                    $("#con_delete_post").click(function(d) {
                                        $.ajax({
                                            type: "POST",
                                            url: '{{ path('post_delete') }}',
                                            data: {id: dltPostBtnId},
                                            dataType: 'json',
                                            success: function(response) {
                                               location.reload();
                                                console.log(response);
                                            },
                                            error: function() {
                                                alert('error');
                                            }
                                        });
                                    });
                                    
                                    var dltGroupBtnId;
                                    $(".btn-delete-group").click(function(x) {
                                        x.preventDefault();
                                        dltGroupBtnId = this.id;
                                        dltGroupBtnId = dltGroupBtnId.replace('deletegroup-', '');
                                        
                                    });
                                    $("#con_delete_group").click(function(d) {
                                        $.ajax({
                                            type: "POST",
                                            url: '{{path('delete_group')}}',
                                            data: {id: dltGroupBtnId},
                                            dataType: 'json',
                                            success: function(response) {
                                                 window.location.href = response;
                                            },
                                            error: function() {
                                                alert('error');
                                            }
                                        });
                                    }); 
                                    
                                    var inviteBtnId;
                                    var groupId = $('#groupId').text();
                                    $(document).on("click", ".btn-invite", function(x){
                                         x.preventDefault();
                                        inviteBtnId = this.id;
                                        inviteBtnId = inviteBtnId.replace('add-', '');
                                         $.ajax({
                                            type: "POST",
                                            url: '{{ path('doctorgroup_invite') }}',
                                            data: {id: inviteBtnId, groupId : groupId},
                                            dataType: 'json',
                                            success: function(response) {
                                               location.reload();
                                                console.log(response);
                                            },
                                            error: function() {
                                                alert('error');
                                            }
                                        });
                                    });
                                    
                                     var memberBtnId;
                                     var groupId = $('#groupId').text();
                                    $(".btn-removefromgroup").click(function(x) {
                                        x.preventDefault();
                                        memberBtnId = this.id;
                                        memberBtnId = memberBtnId.replace('deletemember-', '');
                                        
                                       $.ajax({
                                            type: "POST",
                                            url: '{{ path('delete_member') }}',
                                            data: {id: memberBtnId, groupId : groupId},
                                            dataType: 'json',
                                            success: function(response) {
                                                //$('#viewbody').load(document.URL +  ' #viewbody');
                                                console.log(response);
                                                location.reload();
                                            },
                                            error: function() {
                                                alert('error');
                                            }
                                        });
                                    });
                                   
                                   
</script>
   <script>
$('#search').keyup(function() {

     searchText = $(this).val();
     groupId = $('#groupId').text();
     if (this.value != ''){
         $("#resultbody").empty();
     }
     
     
     if (this.value.length >= 3 && this.value != '')
  {
     $.ajax({
        type: "POST",
        dataType: "json",
        url: '{{ path('invite_doctor') }}',
        data: {searchText : searchText, groupId : groupId },
        beforeSend: function(){
        $('#loading').show();
        },
        complete: function(){
        $('#loading').hide();
        },
        success : function(data) 
           
            {if(data){
                $("#resultbody").empty();
                var len = data.length;
                var txt = "";
                  if(len > 0){
                    for(var i=0;i<len;i++){
                            //var button= $('<button type="button" class="btn btn-primary btn-xs"> <i class="fa fa-user"></i> Invite to Group </button>');
                            var entityId = data[i].id;
                            var showPath = '{{ path("doctor_show", {'id' : 'entityId' })}}';
                            showPath = showPath.replace("entityId", data[i].id);
                            txt += "<tr><td>"+data[i].firstName+" "+data[i].middleName+" "+data[i].lastName +"</td>";
                            txt+= '<td><a href="#" ><button id="add-'+ data[i].id+'" type="button" class="btn btn-primary btn-xs btn-invite"> <i class="fa fa-envelope"></i> Invite to Group </button>' + '</td><td><a href="'+showPath+'" ><button type="button" class="btn btn-success btn-xs"> <i class="fa fa-user"></i>View Profile</button>' + '</td></tr>';
                        
                    }
                    if(txt != ""){
                        $("#resultbody").append(txt).removeClass("hidden");
                         
                    }
                }
            }
        },error: function() {
         alert('error');
          }
        });
    }
});

       
    </script>
    {% endblock %}