{% extends '::basenosidebar.html.twig' %}
{% block doctor %} class="active" {% endblock %}
{% block title%} {% endblock %}
{% block body %}
    <div class="">
        <div class="page-title">
            <div class="title">
                <h3>&nbsp;DOCTOR - Specialty
                </h3>
            </div>
        </div>
        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel" >
                        <h3 style="font-size: 20px;">{{specialty}}</h3>
                        <a href="{{path('doctorhomepage')}}"><button class="btn btn-primary btn-xs">Back to Specialties</button></a> 
                    <div class="x_content">
                        {% for doctor in doctorsBySpecialty%}
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <center>
                                    <h3 style="font-size: 20px;"> <a href="{{path('doctor_show', {'id': doctor.id})}}"><i class="fa fa-user-md"></i> &emsp;{{doctor.firstName}} {{doctor.lastName}}</a></h3>
                                </center>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}