{% extends '::basenosidebar.html.twig' %}
{%block body%}

{% set doctorcount = "" %}
{% set cliniccount = "" %}
{% set illnesscount = "" %}
{% set doctorgroupcount = "" %}
<div>
	<div class="row clearfix">
		<div class="col-md-12 column">
                        
			<div class="jumbotron">
                                
                                                {% if searchword == "" %}
                                                    <center><h1 style="font-family: Century Gothic; font-size: 50px">Search results for <b style="color:#379DFF;"><i>________</i></b></h1></center>
                                                {% else %}
                                                    <center><h1 style="font-family: Century Gothic; font-size: 50px">Search results for <b style="color:#379DFF;"><i>{{searchword}}</i></b></h1></center>
                                                {% endif %}
                        </div>
                      
                        
                        <div class="x_content">
                            
                            <form action="{{path('search')}}" method="POST" role="search">
                                <div class="col-md-10 col-sm-10 col-xs-12 form-group top_search" style='margin-left: 60px;'>
                                    
                                    <div class="input-group">
                                        <input action="{{path('search')}}" method="POST" role="search" id="searchfield" name="searchfield" type="text" class="form-control" placeholder="Search something.">
                                            <span class="input-group-btn">
                                                <button  action="{{path('search')}}" method="POST" role="search" class="btn btn-default" type="submit">Go!</button>
                                            </span>
                                    </div>
                                    
                                </div>
                                    </form>
                                    <div class="col-xs-12">
                                        <!-- required for floating -->
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs tabs-right">
                                            
                                            {% if searchword == ""%}
                                                     {% set doctorcount = "0" %}
                                            {% elseif doctors is empty%}
                                                    {% set doctorcount = "0" %}
                                            {%else%}
                                                {% for doctor in doctors %}
                                                    {% set doctorcount = (doctors|length) %}
                                                {% endfor %}
                                            {% endif %}
                                            <li class="active"><a href="#home-r" data-toggle="tab"><button class="btn-lg btn-info" type="button"><center><i class ="fa fa-stethoscope"></i> Doctors ({{doctorcount}})</center></button></a>
                                            </li>
                                            
                                            {% if searchword == ""%}
                                                     {% set cliniccount = "0" %}
                                            {% elseif clinics is empty%}
                                                    {% set cliniccount = "0" %}
                                            {%else%}
                                                {% for clinic in clinics %}
                                                    {% set cliniccount = (clinics|length) %}
                                                {% endfor %}
                                            {% endif %}
                                            <li><a href="#profile-r" data-toggle="tab"><button class="btn-lg btn-info" type="button"><center><i class ="fa fa-hospital-o"></i> Clinics ({{cliniccount}})</center></button></a>
                                            </li>
                                            
                                            {% if searchword == ""%}
                                                     {% set illnesscount = "0" %}
                                            {% elseif illnesses is empty%}
                                                    {% set illnesscount = "0" %}
                                            {%else%}
                                                {% for illness in illnesses %}
                                                    {% set illnesscount = (illnesses|length) %}
                                                {% endfor %}
                                            {% endif %}
                                            <li><a href="#messages-r" data-toggle="tab"><button class="btn-lg btn-info" type="button"><center><i class ="fa fa-wheelchair"></i> Illnesses ({{illnesscount}})</center></button></a>
                                            </li>
                                            {% if app.user %}
                                            {% if searchword == ""%}
                                                     {% set doctorgroupcount = "0" %}
                                            {% elseif doctorgroups is empty%}
                                                    {% set doctorgroupcount = "0" %}
                                            {%else%}
                                                {% for doctorgroup in doctorgroups %}
                                                    {% set doctorgroupcount = (doctorgroups|length) %}
                                                {% endfor %}
                                            {% endif %}
                                            <li><a href="#doctorgroup-r" data-toggle="tab"><button class="btn-lg btn-info" type="button"><center><i class ="fa fa-users"></i> Doctor Groups ({{doctorgroupcount}})</center></button></a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>

                                    <div class="col-xs-12">
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="home-r">
                                                </br>
                                                </br>
                                                <div style="overflow-y: scroll; height:300px;">
                                                {% if searchword == ""%}
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                     <center><i><h3>Search something... A doctor maybe?</h3></i></center>
                                                {%elseif doctors is empty%}
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                   <center><i><h3>No Doctor Found</h3></i></center>
                                                {%else%}
                                                {% for doctor in doctors %}
                                                        <center><a href="{{ path('doctor_show', {'id':doctor.id})}}"><i style="font-size: 25px; color: gray"class ="fa fa-user-md"></i><h3>
                                                                    {% if doctor.fieldOfPractice == "Specialized" %}
                                                                        <b style="color:#379DFF;">{{doctor.firstName}}  {{doctor.middleName}} {{doctor.lastName}}</b> </a>
                                                                        <br>{{doctor.fieldOfPractice}} - 
                                                                            {% for specialty in doctor.specialties%}
                                                                                | {{specialty.specialtyName}} |
                                                                            {% endfor %}
                                                                    {% else %}
                                                                        <b style="color:#379DFF;">{{doctor.firstName}}  {{doctor.middleName}} {{doctor.lastName}}</b> </a>
                                                                        <br>{{doctor.fieldOfPractice}}
                                                                            
                                                                    {% endif %}
                                                           </h3></center>
                                                    
                                                {% endfor %}
                                                {% endif %}
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="profile-r">
                                                </br>
                                                </br>
                                                <div style="overflow-y: scroll; height:300px;">
                                                {% if searchword == ""%}
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                     <center><i><h3>Search something... A clinic maybe?</h3></i></center>
                                                {%elseif clinics is empty%}
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                   <center><i><h3>No Clinic Found</h3></i></center>
                                                {%else%}
                                                {% for clinic in clinics %}
                                                    
                                                        <center><a href="{{ path('clinic_show', {'id':clinic.id})}}"><i style="font-size: 25px; color: gray" class ="fa fa-map-marker"></i><h3>
                                                                    <b style="color:#379DFF;"> {{clinic.clinicName}}</b></a>
                                                                    <br/>{{clinic.clinicAddress}}</h3></center>                  
                                                    
                                                {% endfor %}
                                                {% endif %}
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="messages-r">
                                                </br>
                                                </br>
                                                 <div style="overflow-y: scroll; height:300px;">
                                                {% if searchword == ""%}
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                     <center><i><h3>Search something... An illness maybe?</h3></i></center>
                                                {%elseif illnesses is empty%}
                                                   <center><i><h3>No Illness Found</h3></i></center>
                                                   </br>
                                                   </br>
                                                {%else%}
                                                {% for illness in illnesses %}
                                                    <a href="{{ path('illness_show', {'id':illness.id})}}"><center><i style=" font-size: 25px; color: gray" class ="fa fa-tint"></i><h3> 
                                                                    <b style="color:#379DFF;">{{illness.illnessName}}</b></a>
                                                                    <br/>"{{illness.illnessCommonName}}"
                                                                    <br/>{{illness.illnessDefinition}} </h3></center>
                                                    
                                                {% endfor %}
                                                {% endif %}  
                                                </div>
                                            </div>
                                            {% if app.user %}
                                            <div class="tab-pane" id="doctorgroup-r">
                                                </br>
                                                </br>
                                                <div style="overflow-y: scroll; height:300px;">
                                                {% if searchword == ""%}
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                     <center><i><h3>Search something... A doctor group maybe?</h3></i></center>
                                                {%elseif doctorgroups is empty%}
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                   <center><i><h3>No Doctor Group Found</h3></i></center>
                                                {%else%}
                                                {% for doctorgroup in doctorgroups %}
                                                    
                                                        <center><a href="{{ path('doctorgroup_show', {'id':doctorgroup.id})}}"><i style="font-size: 25px; color: gray"class ="fa fa-users"></i>
                                                            <h3>
                                                                <b style="color:#379DFF;">{{doctorgroup.groupName}} </b><br/>
                                                                {{doctorgroup.description}}
                                                            </h3>
                                                        </a></center>
                                                    
                                                {% endfor %}
                                                {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                        </div>
                        
                </div>
	</div>
</div>

{% endblock %}
