 
#head {
    height: 60px;
}

#patientRecord_tab{
    margin-top: 20px;
}

#avatar_gender{
    
    margin-top: 30px;
    margin-left: 5px;
    width: 50px;
    
}
#home_body{
    height: 600px;
    alignment-adjust: central;
    margin: 0 auto;
    float: none;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px #79a9ad;
}
#bread_crumbs{
    alignment-adjust: central;
    margin: 0 auto;
    float: none;
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: 0px 0px 4px #79a9ad;
}
#softdev_softdevbundle_patient_civilStatus{
    border: none;
    border-style: none;
    box-shadow: none;
}
#softdev_softdevbundle_patient_birthday{
    border: none;
    border-style: none;
    box-shadow: none;
}
#softdev_softdevbundle_patient_gender{
    border: none;
    border-style: none;
    box-shadow: none;
}
#softdev_softdevbundle_patient_civilStatus_1{
    margin-left: 6px;
    margin-right: 2px;
}
#softdev_softdevbundle_patient_gender_1{
    margin-left: 6px;
    margin-right: 2px;

}
#softdev_softdevbundle_patient_civilStatus_2{
    margin-left: 6px;
    margin-right: 2px;
}
#softdev_softdevbundle_patient_civilStatus_0{
    margin-right: 2px;
}
#softdev_softdevbundle_patient_gender_0{
    margin-right: 2px;
}
.modal-footer{
    margin-top: 310px;
}
.row_modal{
    margin-top: 10px;
}
.notifyjs-arrow{
    top: 13.5px;
}
#softdev_softdevbundle_patient_telephoneNum{
    width: 249px;
}
.form-control{
    padding: 0px 12px;
}
.gender_mod{
    padding-left: 2px;
}
.civil_mod{
    margin-top: 0px;
}

.cell_mod{
    margin-top: 24px;
}
.top_margin{
    margin-top: 25px;
}
.birthday_mod{
    margin-top: 16px;
}
#softdev_softdevbundle_patient_birthday_day{
    margin-right: 3px;
}
#softdev_softdevbundle_patient_birthday_month{
    margin-right: 3px;
}
.entity{
    padding-top: 11px;
}
#patient_list{
    margin-top: 15px;
}
.accordion_sub
{
    background-color: rgba(171, 220, 251, 1);
}

.patient_record_container{
    width: 995px;
}
.padding_btm{
    padding-bottom: 25px;
}
.add_prescription{
    margin-top: 216px;
    margin-left: 30px;
}
.marginTop{
    margin-top: 5px;
}
.ui-autocomplete-group {
    line-height: 30px;
    background-color: #aaa;
}
.ui-menu-item {
    padding-left: 10px;
}
.wrap{
    display: inline-block;
}