   @import "../charisma/css/bootstrap-cerulean.min.css";

#doc_name{
            font-size: 20px;
        }
        #medium{
            font-size: 15px;
        }
        #small{
            font-size: 14px;
        }
        #details{
            font-size: 14px;
        }
        #footer{
            margin-top: 10px;
            font-size: 13px;
/*            right: 0;
            display: block;*/
            position: absolute; 
            right: 0; 
/*            text-align:right;*/
        }
        #patient_age{
            text-align: right;
        }
        #patient_sex{
            text-align: right;
                    }
       .modal-footer{
         margin-top: 64px;
         }           
         #margin{
             margin-left: 300px;
             margin-right: 300px;
         }
     
