
.signup{

    float: right;

    margin-right: 100px;

    padding: 0px 30px 40px 30px;

}

.signup li{

    list-style-type: none;

}

.error{

    margin-top: 15px;

}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    color: red;
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    font-size: 20px;
}

.error li{
    list-style-type: none;
    text-align: left;
}

.error h4{

    text-align: center;

}

.formField .form-control, .formField .vspace{

    margin-top: 5px;

} 
.gender input[type="radio"] {

    margin-left:10px;


}

.gender label{
    margin-left: 5px;
}

.birthday select{
    margin-left: 5px;
}

#genDiv{

    margin-left: 0px;
    margin-bottom: 15px;

}

#nameDiv{
    margin-bottom: 5px;
}

#nameDiv input[type="text"]{

    margin-right:10px;

}

#verysoft_askmebundle_user_firstName{

    width:257px;
    margin-right: 5px;

}


.btn{

    border-radius: 3px;

}

.bronze{
    color: #cd7f32;
}
.silver {
    color: #c0c0c0;
}

.gold{
    color: #ffd700;
}



.profBadge{

    font-size: 130px;
    margin-top: 10px;
}
.profName{

    font-size: 50px;

}

.profDiv{
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 50px darkblue;
    border: solid 10px blue;
    margin-left: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.btn-primary:hover{
    box-shadow: 0px 0px 1px;
}

.activity .acHead{

    width: 230px;

}
.activity h2{
    margin-bottom: 30px;
}

.activity{
    margin-left: 30px;
    padding-bottom: 40px;
}

.profile.tab-content{
    margin-top: 20px;
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

#questions ul{
    margin-top: 10px;
}

.tab-content ul li{
    list-style: none;
}


.qDate{

    font-style: italic;
    color: black;

}

.filler{

    margin-top: 40px;
    margin-left: 140px;

}

.filler label{

    font-size: 45px;
    margin-left: 20px;
    margin-top: 30px;

}
.filler div{

    margin-bottom: 25px;

}

#info{

    margin-top: 10px;
}

.media img+span.badge {
    position: relative;
    top: -8px;
    left: 8px;
}

.marginBottom {    
    margin-bottom:  50px;
}

.moveLeft{

    margin-top: 150px;

}
#notifCircle, #notifNum{
    left: 10px;
    top: 5px;
}

#notifCircle{
    font-size: 20px;
}
#notifNum{
    font-size: 10px;
}

#notifDrop  {
    max-height: 400px;
    width: 450px;
    overflow: hidden;
    overflow-y: auto; 
}

#searchButton{
    margin-left: 10px;
}

#searchDiv{

    margin-top: 130px;

}

#searchBox{
    width: 550px;
}


#searchForm{

    margin-top: 30px;

}
#search{
    margin-bottom: 10px
}

#searchLinks{

    margin-top: 20px;
}
.result{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 3px gray;
    height: auto;
    margin-bottom: 6px
}

.date, .postOwner{

    font-style: italic;

}

.result{
    padding: 20px;
}

.postOwner{
    margin-left: 10px;

}

a:visited{
    color: #006ddb;
}

a:hover{
    color: darkblue;
    text-decoration: none;
}

textarea.wmd-input{


    height: 300px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    resize: none;

}

#wmd-button-bar-0 button{

    background-color: #007fff;

}

.tag{
    background-color: #e0dfe3;
    color: black;
    padding: 0px 5px 5px 5px;
}
.tag:hover{

    background-color:gray;
    color: white;

}

.counter{

    height: 100px;
    padding: 0px;
    margin-top: 10px;

}

.voteAns{

    padding: 5px;
}

#ansCount{

    color: white;
}
.counter p{

    padding: 0px;
}

#verysoft_askmebundle_question_title{
    width: 630px;
}
.askLabels{
    padding-top: 10px;
    padding-left: 0px;
    font-size: 18px;
}

form[name=verysoft_askmebundle_question]{

    padding-bottom: 30px;
}

.prettyprint, blockquote{

    max-height: 500px;
    max-width: 725px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;

}

ul.tagit{
    width: 600px;
}

.tooltip.right .tooltip-arrow{
    top: 5%;
    margin-top: 0px;
}

.tooltip.top .tooltip-arrow{
    left: 5%;
}

#addTag{
    left: 105px;
    top: 2px;
    font-size: 25px;
}

.popover.left{
    margin-left: -30px;
    margin-top: 5px;
}

.popover.left li{
    list-style-type: none;
}

.popover-content{
    margin-left: -20px;
    padding-left: 0px;
    padding-bottom: 0px;
}


.popover{
    background-color: mistyrose;
}

.popover.left .arrow:after {
    border-left-color: mistyrose;
}

#sortDiv{
    margin-bottom: 20px;
}

.zeroRight{
    margin-right: 0px;
}

#wmd-help-button-0{
    color: white;
}

#firstNameIcon{
    right: -25px;
}

#sortCat{
    width: 110px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
}
#sortSelectDiv{
    margin-top: 8px;
}

#orderType{
    padding-left: 0px;
}

.qTitle{
    font-size: 20px;
}

#errDiv li{
    list-style-type: none;
}

#divMod ul li{
    list-style-type: none;
}

.modal-body ul li{
    list-style-type: none;
}


#verysoft_askmebundle_answer_submit{
    margin-bottom: 10px;
}

.tagDiv:hover{
    background-color: lightcyan;
}

.exaples_hint{
    margin-left: 30px;
}