/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2016, 10:37:31 PM
    Author     : NEILL VINCENT
*/

.notifyjs-errorred-base {
  color: white;
  white-space: nowrap;
  background-color: red;
  padding: 5px;
}