{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Appointment list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Datecreated</th>
                <th>Dateappointed</th>
                <th>Isassessed</th>
                <th>Emailaddress</th>
                <th>Appointmentcode</th>
                <th>Contactnumber</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('appointment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateAppointed %}{{ entity.dateAppointed|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.isAssessed }}</td>
                <td>{{ entity.emailAddress }}</td>
                <td>{{ entity.appointmentCode }}</td>
                <td>{{ entity.contactNumber }}</td>
                <td>{{ entity.note }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('appointment_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('appointment_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('appointment_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
