{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Appointment</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Dateappointed</th>
                <td>{{ entity.dateAppointed|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Isassessed</th>
                <td>{{ entity.isAssessed }}</td>
            </tr>
            <tr>
                <th>Emailaddress</th>
                <td>{{ entity.emailAddress }}</td>
            </tr>
            <tr>
                <th>Appointmentcode</th>
                <td>{{ entity.appointmentCode }}</td>
            </tr>
            <tr>
                <th>Contactnumber</th>
                <td>{{ entity.contactNumber }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ entity.note }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('appointment') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('appointment_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
