{% extends '::basesidebar.html.twig' %}

{% block body -%}
    <h1>Doctor list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Middlename</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Password</th>
                <th>Dateofbirth</th>
                <th>Fieldofpractice</th>
                <th>Prcnumber</th>
                <th>Origissuedate</th>
                <th>Specialty</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('doctor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.firstName }}</td>
                <td>{{ entity.middleName }}</td>
                <td>{{ entity.lastName }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.password }}</td>
                <td>{% if entity.dateOfBirth %}{{ entity.dateOfBirth|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.fieldOfPractice }}</td>
                <td>{{ entity.prcNumber }}</td>
                <td>{% if entity.origIssueDate %}{{ entity.origIssueDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.specialty }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('doctor_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('doctor_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('doctor_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
