{% extends '::basenosidebar.html.twig' %}
{% form_theme form 'ResearchProjectMyProjectBundle:Form:field.html.twig' %}
{%block doctor%} class="active" {% endblock %}
{%block pagetitle%}DOCTOR{% endblock%}
{% block body -%}
 <link href={{asset('gentelella/css/select/select2.min.css')}} rel="stylesheet">
</br>

    <center><h1><b>Register New Doctor</b></h1>
    <div>
        <br/>
        <br/>
        <div >
            {{ form_start(form, {'attr' : {  'role' : 'form', 'novalidate' : 'novalidate', 'id':'registerForm', 'class':'form-horizontal form-label-left' } }) }}
            <div id='fn' class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" >First Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.firstName, { 'attr' : { 'id': 'firstName', 'name': 'firstName', 'placeholder' : 'First Name', 'class' : 'form-control col-md-7 col-xs-12', 
                                                    'data-validate-length-range' : '1',  'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.firstName)}}</div></i>
            <div id='ln' class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.lastName, { 'attr' : { 'name': 'lastName', 'placeholder' : 'Last Name', 'class' : 'form-control col-md-7 col-xs-12',
                                                   'data-validate-length-range' : '2', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.lastName)}}</div></i>
            <div id='mn' class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.middleName, { 'attr' : { 'name': 'middleName', 'placeholder' : 'Middle Name', 'class' : 'form-control col-md-7 col-xs-12',
                                                     'data-validate-length-range' : '2', 'required': 'required', 'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.middleName)}}</div></i>
            <div id='ea' class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Address <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.emailAddress, { 'attr' : { 'name': 'emailAddress', 'placeholder' : 'Email Address', 'class' : 'form-control col-md-7 col-xs-12',
                                                     'data-validate-length-range' : '10', 'required': 'required', 'type' : 'email' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.emailAddress)}}</div></i>
            <div id="uname" class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Username <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.username, { 'attr' : { 'name': 'username', 'placeholder' : 'Username', 'class' : 'form-control col-md-7 col-xs-12', 
                                                    'data-validate-length-range' : '5', 'required': 'required', 'type' : 'text' } }) }}
                </div>
               
            </div>
                 
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.username)}}</div></i>
            <div id='pass1' class="item form-group">
                <label for="first" class="control-label col-md-3" >Password <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{  form_widget(form.password.first, { 'attr' : { 'type' : 'password', 'placeholder' : 'Password', 'class' : 'form-control col-md-7 col-xs-12', 
                                                            'data-validate-length-range' : '8,15', 'required': 'required'  } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.password.first)}}</div></i>
             <div id='pass2' class="item form-group">
                <label for="second" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{  form_widget(form.password.second, { 'attr' : {  'id' : 'second' ,'type' : 'password', 'name': 'second', 'placeholder' : 'Repeat Password', 'class' : 'form-control col-md-7 col-xs-12', 
                                                            'data-validate-linked' : 'researchproject_myprojectbundle_doctor_password_first', 'required': 'required' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.password.second)}}</div></i>
            <div id="dob" class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Birth <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                   {{  form_widget(form.dateOfBirth, { 'attr' : { 'name': 'dateOfBirth', 'placeholder' : 'Date of Birth', 'class' : 'form-control col-md-7 col-xs-12', 
                                                        'data-validate-length-range' : '5',  'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.dateOfBirth)}}</div></i>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Field of Practice <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{  form_widget(form.fieldOfPractice, { 'attr' : { 'name': 'fieldOfPractice', 'placeholder' : 'Field of Practice', 'class' : 'form-control col-md-7 col-xs-12', 'type' : 'text'} }) }}
                    </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.fieldOfPractice)}}</div></i>
                
            <div class="item form-group" id="specialtyblock">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Specialty <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{  form_widget(form.specialties, { 'attr' : { 'name': 'specialties', 'class' :'select2_multiple form-control','type' : 'text'} }) }}
                    </div>
            </div>
                 <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.specialties)}}</div></i>
            <div id='cn' class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Contact Numbers <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.contactNumber, { 'attr' : { 'name': 'contactnumber', 'placeholder' : 'Contact Number', 'class' : 'form-control col-md-7 col-xs-12', 
                                                     'required': 'required', 'type' : 'text' } }) }}
                    
                </div>
               
            </div>
                  <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.contactNumber)}}</div></i>
               
            <div id='fell' class="item form-group" id="fellowshipblock">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Fellowship/s <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{  form_widget(form.fellowships, { 'attr' : { 'name': 'fellowships', 'class' :'select2_multiple form-control','type' : 'text'} }) }}
                    </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.fellowships)}}</div></i>
            <div id='prc' class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">PRC Number <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{  form_widget(form.prcNumber, { 'attr' : { 'name': 'prcNumber', 'placeholder' : 'PRC Number', 'class' : 'form-control col-md-7 col-xs-12', 
                                                       'data-validate-length-range' : '7,7',  'required': 'required', 'type' : 'number' } }) }}  
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.prcNumber)}}</div></i>
            <div id="oid" class=" form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Original Issue Date <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                   {{  form_widget(form.origIssueDate, { 'attr' : { 'name': 'origIssueDate', 'placeholder' : 'Original Issue Date:', 'class' : 'form-control col-md-7 col-xs-12' ,'type' : 'text' } }) }}
                </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.origIssueDate)}}</div></i>
            <div id='amp' class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">About My Practice <span class="required">*</span></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        {{  form_widget(form.aboutMyPractice, { 'attr' : { 'name': 'aboutMyPractice', 'placeholder' : 'About My Practice', 'class' : 'form-control col-md-7 col-xs-12',
                                                                 'data-validate-length-range' : '6',  'type' : 'text' } }) }}
                    </div>
            </div>
                <i><div style = "color:#F0516C; font-family: Calibri; font-size: 16px;" >{{form_errors(form.aboutMyPractice)}}</div></i>
                <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Profile Picture <span class="required">*</span>
                </label>
                    {{form_widget(form.file)}}
            </div>
                </br>
            <div class="ln_solid"></div>
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <a href="">{{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-info', 'id' : 'submitbtn'} }) }}</a>
                    <button type="reset" class="btn btn-dark" onclick="goBack()" >Cancel</button>
                </div>
            </div>
           {{ form_end(form)}}
    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
<script type="text/javascript" src="{{asset('gentelella/jquery-ui/external/jquery/jquery.js')}}"></script>
     <script type="text/javascript" src="{{asset('gentelella/jquery-ui/jquery-ui.min.js')}}"></script>
     <script src={{asset('gentelella/js/bootstrap.min.js')}}></script>
    <!-- icheck -->
    <script src={{asset('gentelella/js/icheck/icheck.min.js')}}></script>

    <script src={{asset('gentelella/js/custom.js')}}></script>
    <!-- form validation -->
    <script src={{asset('gentelella/js/validator/validator.js')}}></script>
    <script src={{asset('gentelella/js/select/select2.full.js')}}></script>
    <!-- tags -->
        <script src={{asset('gentelella/js/tags/jquery.tagsinput.min.js')}}></script>
    <script type="text/javascript" src="{{asset('notify/notify.js')}}"></script>
    <!-- input tags -->
        
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
 
    <script>
        $.notify.addStyle('formerror', {
                html: "<div><span data-notify-text/></div>",
                classes: {
                  base: {
                    "color": "white",
                    "white-space": "nowrap",
                    "background-color": "#ce5454",
                     "padding": "3px 10px",
                    "border-radius" : "3px 4px 4px 3px",
                    
                    "border": "2px solid #ce5454",
                    
                    
                  }
                }
              });
    
    // initialize the validator function
        validator.message['date'] = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('#registerForm')
            .on('blur', 'input[required], input.optional, select.required', validator.checkField)
            .on('change', 'select.required', validator.checkField)
            

        // bind the validation to the form submit event
        //$('#send').click('submit');//.prop('disabled', true);
        function checkFormFields(){
            var isFalse = true;
            
            
            
        }
       

        $('#registerForm').submit(function (e) {
            e.preventDefault();
            var submit = true;
            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }
            

            if (submit)
                this.submit();
            return false;
        });
    </script>
    <script type="text/javascript">
            $( "#addcontact" ).click(function() {
                alert( "Handler for .click() called." );
              });
        
            var choice = document.getElementById("researchproject_myprojectbundle_doctor_fieldOfPractice");
            choice.onchange=newChoice;
            function newChoice()
            {   
                var choice = document.getElementById("researchproject_myprojectbundle_doctor_fieldOfPractice");
                var selectedValue = choice.options[choice.selectedIndex].value;


                if (selectedValue == "Specialized")
                {   document.getElementById("specialtyblock").style.display = "block";
                }
                else
                {
                   document.getElementById("specialtyblock").style.display = "none";
                }
            }
    </script>
    <script>
            $(document).ready(function () {
                $(".select2_single").select2({
                    allowClear: true
                });
                $(".select2_group").select2({});
                $(".select2_multiple").select2({
                    allowClear: true
                });
                
                
            });
        </script>
        <script>
        $(document).ready(function () {
            $('#researchproject_myprojectbundle_doctor_dateOfBirth').datepicker({
                maxDate: Date.now()
                
            }).on('change', function() {
               verifyDate( $('#researchproject_myprojectbundle_doctor_dateOfBirth').val());
             });
            
            $('#researchproject_myprojectbundle_doctor_origIssueDate').datepicker({
                maxDate: Date.now()
                
            }).on('change', function() {
               verifyIssueDate( $('#researchproject_myprojectbundle_doctor_origIssueDate').val());
             }); 
            
            
            
            
            $.notify.addStyle('formerror', {
                html: "<div><span data-notify-text/></div>",
                classes: {
                  base: {
                    "color": "white",
                    "white-space": "nowrap",
                    "background-color": "#ce5454",
                     "padding": "3px 10px",
                    "border-radius" : "3px 4px 4px 3px",
                    
                    "border": "2px solid #ce5454",
                    
                    
                  }
                }
              });
            
            
        });
        
        function showError(text, div){
      
        $(div).notify(text,  
             { position: "right", autoHide: "false", style: 'formerror', arrowSize: '6',  showAnimation: 'fadeIn' });
        }

        function checkDate(date){
            var isTrue = true;
            var idate = document.getElementById("researchproject_myprojectbundle_doctor_dateOfBirth"),
             dateReg = /^\d{1,2}\/\d{1,2}\/\d{4}$/;

        if(!dateReg.test(idate.value)){
            isTrue = false;
            }
            
            var now = new Date();
            if (Date.parse(idate.value) > now) {
              // selected date is in the past
              isTrue = false;
            }
            
             
            return isTrue;
        }
        
         function checkIssueDate(date){
            var isTrue = true;
            var idate = document.getElementById("researchproject_myprojectbundle_doctor_origIssueDate"),
             dateReg = /^\d{1,2}\/\d{1,2}\/\d{4}$/;

        
        if(!dateReg.test(idate.value)){
            isTrue = false;
            }
            
            var now = new Date();
            if (Date.parse(idate.value) > now) {
              // selected date is in the past
              isTrue = false;
            }
            
             
            return isTrue;
        }
        
        function verifyDate(date){
            
            if(checkDate(date) === false){
                $('#researchproject_myprojectbundle_doctor_dateOfBirth').addClass('parsley-error');
                 $("#researchproject_myprojectbundle_doctor_dateOfBirth").notify("Invalid Date",  
                            { position: "right", autohide: "false", style: 'formerror', arrowSize: '6',  showAnimation: 'fadeIn' });
            }else{
                $('#researchproject_myprojectbundle_doctor_dateOfBirth').removeClass('parsley-error');
                $('#dob .notifyjs-wrapper').trigger('notify-hide');
            }
           
        }
        
        function verifyIssueDate(date){
            
            if(checkIssueDate(date) === false){
                $('#researchproject_myprojectbundle_doctor_origIssueDate').addClass('parsley-error');
                 $("#researchproject_myprojectbundle_doctor_origIssueDate").notify("Invalid Date",  
                            { position: "right", autohide: "false", style: 'formerror', arrowSize: '6',  showAnimation: 'fadeIn' });
            }else{
                $('#researchproject_myprojectbundle_doctor_origIssueDate').removeClass('parsley-error');
                $('#oid .notifyjs-wrapper').trigger('notify-hide');
            }
           
        }

    </script>
    <script>
  $('#researchproject_myprojectbundle_doctor_username').keyup(function() {

     usernameText = $(this).val();
    
     
     
     if (this.value.length >= 3 && this.value != '')
  {
     $.ajax({
        type: "POST",
        dataType: "json",
        url: '{{ path('username_check') }}',
        data: {usernameText : usernameText },
        beforeSend: function(){
        $('#loading').show();
        },
        complete: function(){
        $('#loading').hide();
        },
        success : function(data){
            
            if(data.duplicate === 'true'){
                $('#researchproject_myprojectbundle_doctor_username').addClass('parsley-error');
                 $("#researchproject_myprojectbundle_doctor_username").notify("Sorry! That username is already taken.",  
                            { position: "right", autohide: "false", style: 'formerror', arrowSize: '6',  showAnimation: 'fadeIn' });
            }else{
                $('#researchproject_myprojectbundle_doctor_username').removeClass('parsley-error');
                $('#uname .notifyjs-wrapper').trigger('notify-hide');
            }
            
        },error: function() {
         alert('error');
          }
        });
    }
});
       
    </script>
{% endblock %}





