{% extends '::basenosidebar.html.twig' %}
{% block profile %} class="active" {% endblock %}
{% block body -%}

        <div class="">
            <div class="page-title">
               
                </div>
            </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel" >
                                    <h3>User Profile</h3>
                                <div class="x_content">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <center>
                                        <div class="profile_img">
                                            <!-- end of image cropping -->
                                            <div id="crop-avatar">
                                                <!-- Current avatar -->
                                                <div class="avatar-view" title="Change the avatar">
                                                    {% if entity.getWebPath == null%}
                                                        <img src="{{asset('gentelella/images/picture.jpg')}}" alt="">
                                                    {% else %}
                                                    <img src="{{asset(entity.getWebPath)}}" alt="Avatar">
                                                    {% endif %}
                                                </div>

                                                <!-- Cropping modal -->
                                                <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <form class="avatar-form" action="crop.php" enctype="multipart/form-data" method="post">
                                                                <div class="modal-header">
                                                                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                                                                    <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="avatar-body">

                                                                        <!-- Upload image and data -->
                                                                        <div class="avatar-upload">
                                                                            <input class="avatar-src" name="avatar_src" type="hidden">
                                                                            <input class="avatar-data" name="avatar_data" type="hidden">
                                                                            <label for="avatarInput">Local upload</label>
                                                                            <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                                                                        </div>

                                                                        <!-- Crop and preview -->
                                                                        <div class="row">
                                                                            <div class="col-md-9">
                                                                                <div class="avatar-wrapper"></div>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <div class="avatar-preview preview-lg"></div>
                                                                                <div class="avatar-preview preview-md"></div>
                                                                                <div class="avatar-preview preview-sm"></div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row avatar-btns">
                                                                            <div class="col-md-9">
                                                                                <div class="btn-group">
                                                                                    <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                                                                                    <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                                                                                    <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                                                                                    <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                                                                                </div>
                                                                                <div class="btn-group">
                                                                                    <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                                                                                    <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                                                                                    <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                                                                                    <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <button class="btn btn-primary btn-block avatar-save" type="submit">Done</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- <div class="modal-footer">
                                                  <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                                </div> -->
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.modal -->

                                                <!-- Loading state -->
                                                <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                            </div>
                                            <!-- end of image cropping -->

                                        </div>
                                        
                                        <h3 style="font-size: 30px;">{{ entity.firstName }} {{ entity.middleName }} {{ entity.lastName }}</h3>       
                                         
                                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel">
                                            <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                 <h4 class="panel-title"style="font-family: Century Gothic; font-size: 16px; color:#379DFF;"><b><i class="fa fa-user-md"></i>&emsp;MEDICAL PRACTICE and CONTACT INFORMATION</b></h4>
                                            </a>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <h3 style=" font-size: 16px; "><b><i class="fa fa-medkit"></i>&emsp;MEDICAL PRACTICE</b></h3>
                                                    <h4 style="font-family: Century Gothic; font-size: 16px"><i><p>{{ entity.aboutMyPractice }}</p></i></h4></br>
                                                    <h4 style="font-family: Century Gothic; font-size: 16px"><i class="fa fa-stethoscope"></i> <b>Field of Practice:</b> {{ entity.fieldOfPractice }}</h4>
                                                    
                                                    <h4 style="font-family: Century Gothic; font-size: 16px"><i class="fa fa-tag"></i> <b>Specialty:</b></h4>
                                                    {% for specialty in entity.specialties %}
                                                     <h4 style="font-family: Century Gothic; font-size: 16px"><i class="fa fa-circle"></i> {{ specialty.specialtyName }}</h4>
                                                    {% endfor %}
                                                    <h4 style="font-family: Century Gothic; font-size: 16px"><i class="fa fa-group"></i><b> Fellows:</b> </h4>
                                                    {% for fellowship in entity.fellowships %}
                                                     <h4 style="font-family: Century Gothic; font-size: 16px"><i class="fa fa-circle"></i> {{ fellowship.fellowshipName }}</h4>
                                                    {% endfor %}
                                                    <h4 style="font-family: Century Gothic; font-size: 16px"><i class="fa fa-credit-card"></i> <b>PRC Number:</b> {{ entity.prcNumber }} acquired on
                                                                {{ entity.origIssueDate | date("m/d/Y") }}</h4>
                                                    
                                                    <h3></h3>
                                        
                                                    <h3 style=" font-size: 16px;"><b><i class="fa fa-phone-square"></i>&emsp;CONTACT INFORMATION</b></h3>
                                                    <h4 style="font-family: Century Gothic; font-size: 16px"> <i class="fa fa-at user-profile-icon"></i> <b>Username:</b> {{ entity.username }}</h4>
                                                    <h4 style="font-family: Century Gothic; font-size: 16px"> <i class="fa fa-envelope user-profile-icon"></i> <b>Email:</b>  {{ entity.emailAddress }}</h4>
                                                    <h4 style="font-family: Century Gothic; font-size: 16px"> <i class="fa fa-phone user-profile-icon"></i> <b>Contact Number:</b>  {{ entity.contactNumber }}</h4>
                                                    
                                                    <br/>
                                                 
                                                     <br/>
                                                 {% if entity == app.user %}
                                                        <a href="{{path('doctor_edit',{'id':entity.id})}}"><button class="btn btn-primary"><i class="glyphicon glyphicon-edit icon-white"></i> Edit Information</button></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <h4 class="panel-title"style="font-family: Century Gothic; font-size: 16px; color:#379DFF;"><b><i class="fa fa-hospital-o"></i>&emsp;CLINIC</b></h4>
                                            </a>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    <div class="x_content">
                                                        {% for clinic in entity.getDoctorClinics %}
                                                            <ul class="list-unstyled timeline">
                                                                <li>
                                                                    <div class="block">
                                                                        <div class="tags">
                                                                            <a href="{{path('clinic_show', {'id' : clinic.id})}}" class="tag">
                                                                                <span><i class="fa fa-location-arrow"></i> Clinic</span>
                                                                            </a>
                                                                        </div>
                                                                        <div class="block_content">
                                                                            <h2 class="title">
                                                                                <a href="{{path('clinic_show', {'id' : clinic.id})}}"><h3 style="font-family: Century Gothic; font-size: 16px"><b>{{clinic.clinicName}}</b></h3></a> 
                                                                            </h2>
                                                                            <div class="byline">
                                                                                {{clinic.clinicAddress}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <h4 class="panel-title"style="font-family: Century Gothic; font-size: 16px; color:#379DFF;"><b><i class="fa fa-users"></i>&emsp;GROUPS</b></h4>
                                            </a>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    {% for groups in entity.getDoctorGroups %}
                                                       <center>
                                                        <a href="{{path('doctorgroup_show', {'id' : groups.id})}}">
                                                            <div align="center" data-toggle="tooltip" data-placement="top" title="Go to {{groups.groupName}}" style="border-radius: 15px;  margin-bottom: 15px; margin-left: 35px; margin-right: 30px; background:#404040 ; height: 100px;
                                                                 "class="col-md-3 col-xs-3 col-sm-3">
                                                                <h3 style="font-family: Century Gothic; font-size: 16px; color:#379DFF;"><b> {{groups.groupName}} </b></h3>
                                                                <h4 style="font-family: Century Gothic; font-size: 12px; color: white; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; "><i>{{groups.description}}</i></h4>
                                                            </div>
                                                        </a>
                                                        </center>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                                
    </div>
    <script src="js/bootstrap.min.js"></script>

    <!-- chart js -->
    <script src="js/chartjs/chart.min.js"></script>
    <!-- bootstrap progress js -->
    <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="js/icheck/icheck.min.js"></script>

    <script src="js/custom.js"></script>
    <!-- form validation -->
    <script src="js/validator/validator.js"></script>
    <script type="text/javascript" src="js/parsley/parsley.min.js"></script>
    <!-- /form validation -->
{% endblock %}
